html {
  height: Auto;
}

body {
  line-height: 20px;
  width: 350px;
  white-space: normal;
  margin: 0px;
  font-size: 12px;
  display: block;
}

h2 {
  font-size: 18px;
  margin: 3px 0 10px 0;
}

.frame {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.logo {
  height: 25px;
}

.column1 {
  padding: 0 15px 0 0;
}

.column2 {
}

#features > ul {
  padding-left: 10px;
}

#expirewarning {
  display: none;
}

#warningtext_1 {
  margin-bottom: 5px;
}

.renewbuttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  margin: 15px 15px 0 0px;
}

.renewbutton {
  font-size: 12px;
}

#remindmelaterbutton {
  color: #1592e6;
  text-decoration: none;
  text-align: right;
  cursor: pointer;
}
