.mega-mobile-settings.account .account-information {
  box-sizing: border-box;
  display: flex;
  padding: 16px 24px;
  width: 100%;
}
.mega-mobile-settings.account .account-information > :not(:last-child) {
  -webkit-margin-end: 16px;
  margin-inline-end: 16px;
}
.mega-mobile-settings.account .avatar-container {
  border-radius: 100%;
  height: 40px;
  padding: 0;
  width: 40px;
}
.mega-mobile-settings.account .avatar-container img {
  border-radius: 100%;
  max-height: 100%;
  width: auto;
}
.mega-mobile-settings.account .avatar-container div {
  border-radius: 100%;
  text-align: center;
  width: 40px;
}
.mega-mobile-settings.account .avatar-container div span {
  border-radius: 100%;
  color: #fff;
  font-family: var(--text-font-family);
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  padding: 0;
  width: 40px;
}
.mega-mobile-settings.account .account-information div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}
.mega-mobile-settings.account .account-information h2 {
  font: var(--mobile-font-heading-h2);
  line-break: anywhere;
  margin: 0;
}
.mega-mobile-settings.account .account-information span {
  color: var(--mobile-text-primary);
  font: var(--mobile-font-copy-regular);
  line-break: anywhere;
}
.mega-mobile-settings.account .upgrade {
  margin-top: 8px;
}
.mega-mobile-settings.account .storage-info {
  color: var(--mobile-text-primary);
  display: flex;
  flex-direction: column;
}
.mega-mobile-settings.account .plan-information.nav-elem {
  pointer-events: none;
}
.mega-mobile-settings.account .storage-info .storage.green {
  color: var(--mobile-text-success);
}
.mega-mobile-settings.account .storage-info .storage.warning {
  color: var(--mobile-text-warning);
}
.mega-mobile-settings.account .storage-info .storage.error {
  color: var(--mobile-text-error);
}
.mega-mobile-settings.account .odq-alert {
  padding: 24px;
}
.mega-mobile-settings.account .dynamic-information {
  width: 100%;
}
.mega-mobile-settings .button.mobile-log-out {
  height: 47px;
  margin: 24px;
  width: calc(100% - 48px);
}
.mega-mobile-settings .button.mobile-log-out span {
  font: var(--mobile-font-link-large-semibold);
}
.mega-mobile-settings div.mobile-mega-version.no-deco {
  color: var(--mobile-text-secondary);
  margin: 0 auto;
}
.my-account-change-email-page.overlay-confirm {
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1100;
}
.bottom-page.developer-settings > .mobile.fm-header,
.bottom-page.developer-settings > :not(.main-pad-block) {
  display: none;
}
.bottom-page.developer-settings > .main-pad-block > .bottom-page {
  padding: 0;
}
.bottom-page.developer-settings .developer-settings-table {
  color: var(--mobile-text-primary);
  margin: auto;
  text-align: left;
}
.bottom-page.developer-settings .developer-settings-container {
  margin-bottom: 100px;
  text-align: center;
}
.bottom-page.developer-settings h3 {
  text-align: center;
}
.bottom-page.developer-settings .apply {
  background-color: #f0373a;
  color: #fff;
  margin: 10px auto;
  max-width: 300px;
}
.bottom-page.developer-settings .developer-setting {
  width: 100%;
}
.mega-overlay .mega-mobile-settings.account .account-information,
.mega-overlay .mega-mobile-settings.account .plan-information.nav-elem,
.mega-overlay .mega-mobile-settings.account > a,
.mega-overlay .mega-mobile-settings.account > button {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.mega-overlay .mega-mobile-settings .button.mobile-log-out {
  width: 100%;
}
@media only screen and (min-width: 769px) {
  .mega-mobile-settings .button.mobile-log-out,
  .mega-overlay .mega-mobile-settings .button.mobile-log-out {
    width: 327px;
  }
}
