.mega-checkbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
}
.mega-checkbox.align-right {
  flex-direction: row-reverse;
}
.mega-checkbox .checkbox-wrapper {
  -webkit-margin-end: 15px;
  background: var(--mobile-icon-inverse);
  border: 1px solid var(--mobile-border-strong-selected);
  border-radius: 2px;
  flex-grow: 0;
  height: 18px;
  margin-inline-end: 15px;
  order: 0;
  width: 18px;
}
.mega-checkbox .icon-check-after:after {
  --icon-size: 18px;
  background: var(--mobile-selection-control);
  color: var(--mobile-icon-inverse);
}
.mega-checkbox .checkbox-action {
  flex-grow: 1;
  order: 1;
  width: 200px;
}
