.settings-history .session-list {
  width: 100%;
}
.settings-history h3 {
  color: var(--mobile-text-primary);
  font: var(--mobile-font-heading-h3);
  margin-top: 0;
  padding: 0 24px;
}
.mobile.session {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 140px;
  justify-content: space-between;
  padding: 24px;
  width: 100%;
}
.mobile.session.current {
  background-color: var(--mobile-surface-2);
}
.settings-history .action-buttons {
  background: var(--mobile-page-background);
  bottom: -1px;
  box-sizing: border-box;
  padding: 8px 24px;
  position: sticky;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .settings-history .action-buttons .button {
    max-width: 328px;
  }
}
.settings-history .action-buttons .button {
  height: 48px;
}
.settings-history .action-buttons .button span {
  font-weight: var(--mobile-font-weight-semibold);
}
.mobile.session span {
  color: var(--mobile-text-secondary);
  display: block;
  font: var(--mobile-font-caption-large-regular);
}
.mobile.session .heading span {
  color: var(--mobile-text-primary);
  font: var(--mobile-font-copy-bold);
}
.mobile.session .button.session-action-button,
.mobile.session span.session-status {
  font: var(--mobile-font-link-large-semibold);
  padding: 0 24px;
  white-space: nowrap;
}
.mobile.session.active .button.session-action-button span {
  color: var(--mobile-button-error);
  text-decoration: underline;
}
.mobile.session.current span.session-status {
  color: var(--mobile-text-success);
}
.mobile.session.expired span.session-status {
  color: var(--mobile-text-on-color-disabled);
}
.mobile.session .heading {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}
.mobile.session .browser,
.mobile.session .location {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.mobile.session img {
  -webkit-margin-end: 5px;
  border-radius: var(--mobile-border-radius-extra-small);
  margin-inline-end: 5px;
  width: 16px;
}
