.clear-bin {
  color: var(--mobile-button-error);
}
.empty-rubbishbin {
  --icon-size: 120px;
  color: var(--mobile-text-primary);
  justify-content: center;
  margin: auto;
  text-align: center;
}
.empty-rubbishbin .icon-trash-thin-outline {
  margin: auto;
}
.empty-bin-title {
  font: var(--mobile-font-heading-h2);
  padding-top: 16px;
}
.empty-bin-body {
  font: var(--mobile-font-copy-regular);
  padding: 16px 24px;
}
