.mobile-rack.toast {
  --slot-gap: 10px;
  align-content: center;
  align-items: stretch;
  display: inline-flex;
  justify-content: center;
  left: 50%;
  max-width: 327px;
  padding-bottom: 24px;
  position: fixed;
  transform: translateX(-50%);
}
.mobile-rack.toast,
.mobile-rack.toast.bottom {
  bottom: 0;
  flex-flow: column-reverse nowrap;
}
.mobile-rack.toast.bottom.above-actions,
.mobile-rack.toast.bottom.above-fab {
  bottom: 64px;
}
.mobile-rack.toast.bottom.above-btn {
  bottom: 48px;
}
.mobile-rack.toast.top {
  flex-flow: column nowrap;
  top: 0;
}
.mobile-toast-notification {
  align-content: center;
  align-items: center;
  background-color: var(--mobile-toast-background);
  border-radius: var(--mobile-border-radius-medium);
  box-shadow: var(--mobile-shadow-strong);
  box-sizing: border-box;
  color: var(--mobile-text-inverse);
  display: flex;
  flex-flow: row nowrap;
  font: var(--mobile-font-caption-large-regular);
  justify-content: space-between;
  padding: 11px 24px;
  width: 100%;
}
.mobile-toast-notification > button {
  -webkit-margin-start: 10px;
  margin-inline-start: 10px;
}
.mobile-toast-notification .message-body {
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile-toast-notification .action-link span {
  color: #69a3fb;
  font: var(--mobile-font-label-bold);
}
.nav-elem.action-link {
  background: none;
  color: var(--mobile-link-primary);
  font: var(--mobile-font-label-bold);
  height: auto;
  padding: 0;
  text-decoration: none;
}
.nav-elem.action-link.toast {
  color: var(--mobile-link-inverse);
}
.nav-elem.action-link.toast span {
  font: var(--mobile-font-copy-semibold);
  white-space: nowrap;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .mobile-rack.toast.bottom.above-btn {
    bottom: 64px;
  }
}
