.mega-empty-states.overlay-wrap {
  background: none;
  display: block;
  overflow-y: scroll;
  position: relative;
  text-align: center;
  transition: none;
  visibility: visible;
}
.mega-empty-states .empty-states {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px 96px;
}
.overlay-wrap .empty-states .main {
  max-width: 697px;
  overflow-y: scroll;
}
.empty-states .button.nav-elem {
  background-color: var(--mobile-button-secondary);
  color: var(--mobile-text-primary);
}
.mega-empty-states .image .icon {
  background-size: contain;
  height: 96px;
  width: 96px;
}
.mega-empty-states .image .icon.cloud-drive {
  background-image: url(../imagery/mobile-cloud-drive.e6c9dff86f5cc214.png);
}
.mega-empty-states .image .icon.folder {
  background-image: url(../imagery/mobile-folder.3db9ff8e50a177b7.png);
}
.mega-empty-states .image .icon.incoming-shares {
  background-image: url(../imagery/mobile-incoming-shares.a6c40493234db18a.png);
}
.mega-empty-states .image .icon.outgoing-shares {
  background-image: url(../imagery/mobile-outgoing-shares.c66fa892249b1eb5.png);
}
.mega-empty-states .image .icon.shared-links {
  background-image: url(../imagery/mobile-links.9cd3ac330f570d4.png);
}
.mega-empty-states .image .icon.rubbish-bin {
  background-image: url(../imagery/mobile-rubbish-bin.74874f517f6d3c00.png);
}
