.mobile-rack {
  --slot-gap: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  pointer-events: none;
  position: relative;
  transition:
    bottom 0.25s ease-in,
    top 0.25s ease-in;
  width: 100%;
  z-index: 101;
}
.mobile-rack,
.mobile-rack.bottom {
  bottom: 0;
  flex-flow: column-reverse nowrap;
  top: auto;
}
.mobile-rack.top {
  bottom: auto;
  top: 0;
}
.mobile-rack .mobile-slot {
  margin: calc(var(--slot-gap) * 0.5) 0;
  max-height: 310px;
  transition:
    max-height 1s linear,
    opacity 1s ease-in;
  width: 100%;
}
.mobile-rack.flow-down .mobile-slot.close,
.mobile-rack.flow-up .mobile-slot.close {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.mobile-rack.disappear .mobile-slot {
  transition:
    max-height 1s linear,
    opacity 1s ease-in;
}
.mobile-rack.disappear .mobile-slot.close {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.mobile-rack.disappear .mobile-slot.close.non-blocking {
  margin: calc(var(--slot-gap) * -0.5) 0;
}
.mobile-rack .mobile-slot .mobile-inner {
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: auto;
  position: relative;
  transition: opacity 1s ease-in;
}
.mobile-rack.disappear .mobile-slot.close .mobile-inner {
  opacity: 0;
  overflow: hidden;
  top: 0;
}
.mobile-rack.flow-down .mobile-slot .mobile-inner,
.mobile-rack.flow-up .mobile-slot .mobile-inner {
  overflow: hidden;
  top: 0;
  transition: top 4s ease-in;
}
.mobile-rack.flow-down .mobile-slot.close .mobile-inner {
  overflow: visible;
  top: 100vh;
}
.mobile-rack.flow-up .mobile-slot.close .mobile-inner {
  overflow: visible;
  top: -100vh;
}
