.nav-elem,
.nav-elem a,
.nav-elem button {
  align-items: center;
  border: none;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0 24px;
}
.nav-elem > :not(:last-child),
.nav-elem a > :not(:last-child),
.nav-elem button > :not(:last-child) {
  -webkit-margin-end: 8px;
  margin-inline-end: 8px;
}
.nav-elem,
.nav-elem.normal {
  --icon-size: 22px;
  border-radius: 8px;
  box-sizing: border-box;
  height: 40px;
  text-decoration: none;
  width: auto;
}
.nav-elem.normal.block {
  max-width: var(--mobile-elem-max-width);
  width: 100%;
}
.nav-elem.normal.block .primary-text {
  font-weight: var(--mobile-font-weight-semibold);
}
.nav-elem.icon-only {
  --icon-size: 24px;
  border-radius: var(--mobile-border-radius-medium);
  height: auto;
  padding: 6px;
  width: auto;
}
.nav-elem.icon-only span {
  display: none;
}
.nav-elem.icon-only.block {
  height: 40px;
  padding: 16px;
  width: 40px;
}
.nav-elem.full-width {
  --icon-size: 24px;
  border-radius: 0;
  display: flex;
  height: 56px;
  justify-content: flex-start;
  width: 100%;
}
.nav-elem.full-width > :not(:last-child) {
  -webkit-margin-end: 18px;
  margin-inline-end: 18px;
}
.nav-elem.disabled:active i,
.nav-elem.disabled i,
.nav-elem:not(.no-active):active i {
  opacity: 0.5;
}
.nav-elem.primary,
button.nav-elem {
  background: var(--mobile-button-primary);
  color: var(--mobile-text-inverse);
}
.nav-elem.disabled,
.nav-elem.disabled:active,
.nav-elem.primary.disabled,
.nav-elem.primary.disabled:active {
  background: var(--mobile-button-disabled);
  color: var(--mobile-text-disabled);
}
.nav-elem.primary:active,
.nav-elem:active {
  background: var(--mobile-button-primary-pressed);
  color: var(--mobile-text-inverse);
}
.nav-elem.secondary {
  background: var(--mobile-button-secondary);
  color: var(--mobile-text-primary);
}
.nav-elem.secondary.disabled,
.nav-elem.secondary.disabled:active {
  background: var(--mobile-button-secondary);
  color: var(--mobile-text-disabled);
}
.nav-elem.secondary:active {
  background: var(--mobile-button-secondary-pressed);
  color: var(--mobile-text-primary);
}
.nav-elem.outline {
  background: none;
  border: 2px solid var(--mobile-button-outline);
  color: var(--mobile-button-outline);
}
.nav-elem.outline.disabled,
.nav-elem.outline.disabled:active {
  background: none;
  border: 2px solid var(--mobile-border-disabled);
  color: var(--mobile-text-disabled);
}
.nav-elem.outline:active {
  background: none;
  border: 2px solid var(--mobile-button-primary-pressed);
  color: var(--mobile-button-primary-pressed);
}
.nav-elem.destructive {
  background: var(--mobile-button-error);
  color: var(--mobile-text-on-color);
}
.nav-elem.destructive.disabled,
.nav-elem.destructive.disabled:active {
  background: var(--mobile-button-disabled);
  color: var(--mobile-text-on-color-disabled);
}
.nav-elem.destructive:active {
  background: var(--mobile-button-error-pressed);
  color: var(--mobile-text-on-color);
}
.nav-elem.no-active:active {
  background: initial;
  color: initial;
}
.nav-elem.text-icon,
.nav-elem.text-only {
  background: none;
  color: var(--mobile-text-primary);
  text-decoration: underline;
}
.nav-elem.full-width.text-icon,
.nav-elem.full-width.text-only,
.nav-elem.text-only.no-deco {
  text-decoration: none;
}
.nav-elem.text-only .left-icon {
  display: none;
}
.nav-elem.text-only.disabled,
.nav-elem.text-only.disabled:active {
  color: var(--mobile-text-disabled);
  text-decoration: underline var(--mobile-text-disabled);
}
.nav-elem.text-only:not(.no-deco):active {
  color: var(--mobile-button-secondary-pressed);
  text-decoration: underline var(--mobile-button-secondary-pressed);
}
.nav-elem.text-icon.disabled,
.nav-elem.text-icon.disabled:active {
  color: var(--mobile-text-disabled);
  text-decoration: underline var(--mobile-text-disabled);
}
.nav-elem.text-icon:active {
  color: var(--mobile-button-primary-pressed);
  text-decoration: underline var(--mobile-button-primary-pressed);
}
.nav-elem.disabled,
.nav-elem.loading {
  opacity: 1;
  pointer-events: none;
}
.nav-elem.action-link {
  background: none;
  color: var(--mobile-link-primary);
  font: var(--mobile-font-label-bold);
  height: auto;
  padding: 0;
  text-decoration: none;
}
.nav-elem.action-link.login-button {
  color: var(--mobile-text-primary);
  text-decoration: underline;
}
.nav-elem.action-link.toast {
  color: var(--mobile-link-inverse);
}
.nav-elem.action-link.toast span {
  font: var(--mobile-font-copy-semibold);
}
.nav-elem span {
  color: inherit;
  font: var(--mobile-font-link-large-regular);
  text-decoration: inherit;
}
.nav-elem.semibold span {
  font-weight: var(--mobile-font-weight-semibold);
}
.nav-elem i.icon-size-16 {
  --icon-size: 16px;
}
.nav-elem i.icon-size-20 {
  --icon-size: 20px;
}
.nav-elem i.icon-size-22 {
  --icon-size: 22px;
}
.nav-elem i.icon-size-24 {
  --icon-size: 24px;
}
.nav-elem i.icon-size-28 {
  --icon-size: 28px;
}
.nav-elem i.icon-size-48 {
  --icon-size: 48px;
}
.nav-elem i.icon-size-80 {
  --icon-size: 80px;
}
.nav-elem i.left-icon {
  height: var(--icon-size);
  width: var(--icon-size);
}
.nav-elem .right-icon {
  -webkit-margin-start: auto;
  --icon-size: 16px;
  margin-inline-start: auto;
  order: 100;
}
.nav-elem .left-icon {
  order: -1;
}
.nav-elem i.loading {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: linear;
  margin: auto;
}
.nav-elem .multi-text-box {
  align-items: flex-start;
  display: inline-flex;
  flex-flow: column nowrap;
}
.nav-elem .multi-text-box > :not(:last-child) {
  margin-bottom: 4px;
}
.nav-elem .multi-text-box .sub-text {
  color: var(--mobile-text-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
