.mega-header {
  background: var(--mobile-page-background);
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 100;
}
.mega-header,
.mega-header .block {
  align-items: flex-start;
  display: flex;
  height: auto;
  width: 100%;
}
.mega-header .block {
  box-sizing: border-box;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 24px;
}
.mega-header .top-block {
  border-bottom: 1px solid var(--mobile-border-strong);
}
.mega-header .bottom-block {
  align-items: flex-end;
  display: flex;
  overflow: hidden;
  transition: height 0.1s linear;
  width: 100%;
}
.mega-header .nav-actions,
.mega-header .nav-navigation {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.mega-header .nav-elem.text-icon {
  margin: 0;
  padding: 0;
}
.mega-header .nav-elem.home i.left-icon {
  --width: 74px;
  --height: 24px;
  height: var(--height);
  width: var(--width);
}
.mega-header .search-wrapper {
  align-items: center;
  background: var(--mobile-page-background);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: auto;
  left: 0;
  opacity: 0;
  padding: 2px 24px;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
}
.mega-header .bottom-block .block > :not(:last-child) {
  margin-bottom: 16px;
}
.mega-header .nav-actions > :not(:first-child) {
  -webkit-margin-start: 16px;
  margin-inline-start: 16px;
}
.mega-header .search-wrapper.visible {
  opacity: 1;
  transition: all 0.3s ease-out;
  visibility: visible;
}
.mega-header .search-wrapper .search-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}
.mega-header .search-wrapper i.icon-search-thin-outline,
.mega-header .search-wrapper i.icon-x-thin-outline {
  --icon-size: 16px;
  color: var(--mobile-icon-primary);
  position: absolute;
}
.mega-header .search-wrapper i.icon-search-thin-outline,
.rtl .mega-header .search-wrapper i.icon-x-thin-outline {
  left: 11px;
  right: auto;
}
.mega-header .search-wrapper i.icon-x-thin-outline,
.rtl .mega-header .search-wrapper i.icon-search-thin-outline {
  left: auto;
  right: 11px;
}
.mega-header .search-wrapper .search-input {
  -webkit-padding-start: 35px;
  align-items: center;
  background: var(--mobile-page-background);
  border: 1px solid var(--mobile-border-strong);
  border-radius: var(--mobile-border-radius-medium);
  color: var(--mobile-text-placeholder);
  display: flex;
  font: var(--mobile-font-copy-regular);
  height: 48px;
  padding-inline-start: 35px;
  width: 100%;
}
.mega-header h1 {
  display: block;
  font: var(--mobile-font-heading-h1);
  margin: 0;
  overflow: hidden;
  padding-bottom: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
@supports (display: -webkit-box) {
  .mega-header h1 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    white-space: normal;
    word-break: break-word;
  }
}
.mega-header .link.avatar {
  border-radius: 100%;
  height: 24px;
  padding: 0;
  width: 24px;
}
.mega-header .link.avatar img {
  border-radius: 100%;
  max-height: 100%;
  width: auto;
}
.mega-header .link.avatar div {
  border-radius: 100%;
  text-align: center;
  width: 24px;
}
.mega-header .link.avatar div span {
  border-radius: 100%;
  color: #fff;
  font-family: var(--text-font-family);
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  padding: 0;
  width: 24px;
}
.filter {
  margin-bottom: 24px;
}
.filter:last-child {
  margin-bottom: 0;
}
.filter h3 {
  color: var(--mobile-text-primary);
  font: var(--mobile-font-heading-h3);
  margin: 0;
}
.filter .nav-elem.sort-arrow {
  margin: 0 16px;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .mega-header .mobile-hide-phone {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .main-layout .mega-header .mobile-hide-tablet,
  .main-layout .mega-header .search-wrapper .js-btncloseSearch,
  .main-layout:not(.no-tablet-layout) .mega-header .top-block {
    display: none;
  }
  .main-layout:not(.no-tablet-layout) .mega-header .bottom-block .block {
    flex-flow: row nowrap;
  }
  .main-layout:not(.no-tablet-layout) .mega-header .bottom-block .block .nav-navigation {
    margin-bottom: 0;
    order: 0;
  }
  .main-layout:not(.no-tablet-layout) .mega-header .bottom-block .block .heading {
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    order: 1;
  }
  .main-layout:not(.no-tablet-layout) .mega-header .bottom-block .block .nav-actions {
    margin-bottom: 0;
    order: 2;
  }
  .main-layout:not(.no-tablet-layout) .mega-header .bottom-block .back {
    -webkit-padding-end: 16px;
    padding-inline-end: 16px;
  }
  .main-layout .mega-header .search-wrapper {
    left: auto;
    opacity: 1;
    padding: 2px 0;
    right: 72px;
    visibility: visible;
    width: 30%;
  }
  .rtl .main-layout .mega-header .search-wrapper {
    left: 72px;
    right: auto;
  }
  .main-layout .mega-header .search-wrapper.visible {
    transition: none;
  }
  @supports (display: -webkit-box) {
    .main-layout:not(.no-tablet-layout) .mega-header h1 {
      -webkit-line-clamp: 1;
    }
  }
}
