.mega-bottom-bar {
  align-items: center;
  background: var(--mobile-page-background);
  border-top: 1px solid var(--mobile-border-strong);
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  padding: 16px 24px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.mega-bottom-bar .icon-actions,
.mega-bottom-bar .text-actions {
  align-items: flex-start;
  display: flex;
}
.mega-bottom-bar .icon-actions > :not(:first-child),
.mega-bottom-bar .text-actions > :not(:first-child),
.mega-bottom-bar > :not(:first-child) {
  -webkit-margin-start: 8px;
  margin-inline-start: 8px;
}
.mega-bottom-bar .icon-actions:empty {
  display: none;
}
.mega-bottom-bar .text-actions {
  flex: 1;
}
