.mega-footer {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px;
  position: fixed;
  right: 0;
  transition: bottom 0.1s linear;
  z-index: 100;
}
.rtl .mega-footer {
  left: 0;
  right: auto;
}
.mega-footer .nav-elem.icon-only {
  padding: 16px;
}
.general-actions .nav-elem {
  padding: 0;
}
.general-actions .nav-elem span {
  font: var(--mobile-font-link-large-regular);
}
