@font-face {
  font-family: "Nitro Font";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NitroFont-400.woff2") format("woff2");
}
@font-face {
  font-family: "Nitro Font";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NitroFont-700.woff2") format("woff2");
}
.aos-component.avs .checkbox.-some-checked::after,
.aos-component.avs .radio.-some-checked::after,
.aos-component.avs .checkbox[aria-checked="mixed"]::after,
.aos-component.avs .radio[aria-checked="mixed"]::after,
.aos-component.avs .checkbox.-checked::after,
.aos-component.avs .radio.-checked::after,
.aos-component.avs .checkbox:checked::after,
.aos-component.avs .radio:checked::after {
  -webkit-mask-image: url("../icons/spawn/spawn-checkbox-checked.png");
  -webkit-mask-size: 100%;
}
.aos-component.avs .spinner-icon {
  -webkit-mask-image: url("../icons/spawn/spawn-spinner.png");
}
:root {
  --app-bg-simple: #fffcfa;
  --color-text: #071d2b;
}
.avs.aos-component.opting-out-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2147483647;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--app-bg-simple);
  justify-content: center;
}
.avs.aos-component.opting-out-overlay .spinner-icon {
  width: 40px;
  height: 40px;
  background: center center/100% no-repeat;
  position: relative;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: var(--ds-accent-hc);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
