/* Important!!! */
/* This file is only meant for defining global font-faces or very specific one-off initialization styles */

/* font faces */

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: "normal";
}

/* Compatibility - should be eventually removed */
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: "normal";
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: "normal";
}

@font-face {
  font-family: "Inter-Bold";
  src: url("fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: "normal";
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: "normal";
}

@font-face {
  font-family: "PT Mono";
  src: url("fonts/PT-Mono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Initial dimensions */

html#dashboard {
  height: 100%;
}

html#dashboard body {
  height: 100% !important;
  min-height: 100% !important;
  overflow: hidden !important;
}

html#popover body {
  width: 400px !important;
  height: 600px !important;
  overflow: hidden !important;
}

html#popover #root {
  overflow: hidden !important;
}

/* root element should be based on 100% height of the parent(body) */

#root {
  height: 100%;
}

/* global css for search boxes in dashboard and poup */
div.search-box div.main-container label {
  max-width: 85%;
}

/* main loader for dashboard */
.main-loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-loader .spinner-blue {
  width: 113px;
  height: 113px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
