.sprite-mobile-fm-uni,
.sprite-mobile-fm-uni-after:after,
.sprite-mobile-fm-uni-before:before {
  background: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg) no-repeat;
  background-size: 100%;
  content: "";
  display: block;
  height: var(--icon-size, 16px);
  width: var(--icon-size, 16px);
}
.sprite-mobile-fm-uni-after.icon-authy-after:after,
.sprite-mobile-fm-uni-before.icon-authy-before:before,
.sprite-mobile-fm-uni.icon-authy {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#icon-authy);
}
.sprite-mobile-fm-uni-after.icon-duo-auth-after:after,
.sprite-mobile-fm-uni-before.icon-duo-auth-before:before,
.sprite-mobile-fm-uni.icon-duo-auth {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#icon-duo-auth);
}
.sprite-mobile-fm-uni-after.icon-google-auth-after:after,
.sprite-mobile-fm-uni-before.icon-google-auth-before:before,
.sprite-mobile-fm-uni.icon-google-auth {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#icon-google-auth);
}
.sprite-mobile-fm-uni-after.icon-mega-logo-rounded-square-after:after,
.sprite-mobile-fm-uni-before.icon-mega-logo-rounded-square-before:before,
.sprite-mobile-fm-uni.icon-mega-logo-rounded-square {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#icon-mega-logo-rounded-square);
}
.sprite-mobile-fm-uni-after.icon-microsoft-auth-after:after,
.sprite-mobile-fm-uni-before.icon-microsoft-auth-before:before,
.sprite-mobile-fm-uni.icon-microsoft-auth {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#icon-microsoft-auth);
}
.sprite-mobile-fm-uni-after.mime-3d-outline-after:after,
.sprite-mobile-fm-uni-before.mime-3d-outline-before:before,
.sprite-mobile-fm-uni.mime-3d-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-3d-outline);
}
.sprite-mobile-fm-uni-after.mime-3d-solid-after:after,
.sprite-mobile-fm-uni-before.mime-3d-solid-before:before,
.sprite-mobile-fm-uni.mime-3d-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-3d-solid);
}
.sprite-mobile-fm-uni-after.mime-aftereffects-outline-after:after,
.sprite-mobile-fm-uni-before.mime-aftereffects-outline-before:before,
.sprite-mobile-fm-uni.mime-aftereffects-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-aftereffects-outline);
}
.sprite-mobile-fm-uni-after.mime-aftereffects-solid-after:after,
.sprite-mobile-fm-uni-before.mime-aftereffects-solid-before:before,
.sprite-mobile-fm-uni.mime-aftereffects-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-aftereffects-solid);
}
.sprite-mobile-fm-uni-after.mime-android-outline-after:after,
.sprite-mobile-fm-uni-before.mime-android-outline-before:before,
.sprite-mobile-fm-uni.mime-android-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-android-outline);
}
.sprite-mobile-fm-uni-after.mime-android-solid-after:after,
.sprite-mobile-fm-uni-before.mime-android-solid-before:before,
.sprite-mobile-fm-uni.mime-android-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-android-solid);
}
.sprite-mobile-fm-uni-after.mime-audio-outline-after:after,
.sprite-mobile-fm-uni-before.mime-audio-outline-before:before,
.sprite-mobile-fm-uni.mime-audio-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-audio-outline);
}
.sprite-mobile-fm-uni-after.mime-audio-solid-after:after,
.sprite-mobile-fm-uni-before.mime-audio-solid-before:before,
.sprite-mobile-fm-uni.mime-audio-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-audio-solid);
}
.sprite-mobile-fm-uni-after.mime-backup-outline-after:after,
.sprite-mobile-fm-uni-before.mime-backup-outline-before:before,
.sprite-mobile-fm-uni.mime-backup-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-backup-outline);
}
.sprite-mobile-fm-uni-after.mime-backup-solid-after:after,
.sprite-mobile-fm-uni-before.mime-backup-solid-before:before,
.sprite-mobile-fm-uni.mime-backup-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-backup-solid);
}
.sprite-mobile-fm-uni-after.mime-cad-outline-after:after,
.sprite-mobile-fm-uni-before.mime-cad-outline-before:before,
.sprite-mobile-fm-uni.mime-cad-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-cad-outline);
}
.sprite-mobile-fm-uni-after.mime-cad-solid-after:after,
.sprite-mobile-fm-uni-before.mime-cad-solid-before:before,
.sprite-mobile-fm-uni.mime-cad-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-cad-solid);
}
.sprite-mobile-fm-uni-after.mime-compressed-outline-after:after,
.sprite-mobile-fm-uni-before.mime-compressed-outline-before:before,
.sprite-mobile-fm-uni.mime-compressed-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-compressed-outline);
}
.sprite-mobile-fm-uni-after.mime-compressed-solid-after:after,
.sprite-mobile-fm-uni-before.mime-compressed-solid-before:before,
.sprite-mobile-fm-uni.mime-compressed-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-compressed-solid);
}
.sprite-mobile-fm-uni-after.mime-dmg-outline-after:after,
.sprite-mobile-fm-uni-before.mime-dmg-outline-before:before,
.sprite-mobile-fm-uni.mime-dmg-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-dmg-outline);
}
.sprite-mobile-fm-uni-after.mime-dmg-solid-after:after,
.sprite-mobile-fm-uni-before.mime-dmg-solid-before:before,
.sprite-mobile-fm-uni.mime-dmg-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-dmg-solid);
}
.sprite-mobile-fm-uni-after.mime-excel-outline-after:after,
.sprite-mobile-fm-uni-before.mime-excel-outline-before:before,
.sprite-mobile-fm-uni.mime-excel-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-excel-outline);
}
.sprite-mobile-fm-uni-after.mime-excel-solid-after:after,
.sprite-mobile-fm-uni-before.mime-excel-solid-before:before,
.sprite-mobile-fm-uni.mime-excel-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-excel-solid);
}
.sprite-mobile-fm-uni-after.mime-executable-outline-after:after,
.sprite-mobile-fm-uni-before.mime-executable-outline-before:before,
.sprite-mobile-fm-uni.mime-executable-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-executable-outline);
}
.sprite-mobile-fm-uni-after.mime-executable-solid-after:after,
.sprite-mobile-fm-uni-before.mime-executable-solid-before:before,
.sprite-mobile-fm-uni.mime-executable-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-executable-solid);
}
.sprite-mobile-fm-uni-after.mime-experiencedesign-outline-after:after,
.sprite-mobile-fm-uni-before.mime-experiencedesign-outline-before:before,
.sprite-mobile-fm-uni.mime-experiencedesign-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-experiencedesign-outline);
}
.sprite-mobile-fm-uni-after.mime-experiencedesign-solid-after:after,
.sprite-mobile-fm-uni-before.mime-experiencedesign-solid-before:before,
.sprite-mobile-fm-uni.mime-experiencedesign-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-experiencedesign-solid);
}
.sprite-mobile-fm-uni-after.mime-external-drive-outline-after:after,
.sprite-mobile-fm-uni-before.mime-external-drive-outline-before:before,
.sprite-mobile-fm-uni.mime-external-drive-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-external-drive-outline);
}
.sprite-mobile-fm-uni-after.mime-external-drive-solid-after:after,
.sprite-mobile-fm-uni-before.mime-external-drive-solid-before:before,
.sprite-mobile-fm-uni.mime-external-drive-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-external-drive-solid);
}
.sprite-mobile-fm-uni-after.mime-folder-backup-1-outline-after:after,
.sprite-mobile-fm-uni-before.mime-folder-backup-1-outline-before:before,
.sprite-mobile-fm-uni.mime-folder-backup-1-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-backup-1-outline);
}
.sprite-mobile-fm-uni-after.mime-folder-backup-1-solid-after:after,
.sprite-mobile-fm-uni-before.mime-folder-backup-1-solid-before:before,
.sprite-mobile-fm-uni.mime-folder-backup-1-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-backup-1-solid);
}
.sprite-mobile-fm-uni-after.mime-folder-backup-2-outline-after:after,
.sprite-mobile-fm-uni-before.mime-folder-backup-2-outline-before:before,
.sprite-mobile-fm-uni.mime-folder-backup-2-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-backup-2-outline);
}
.sprite-mobile-fm-uni-after.mime-folder-backup-2-solid-after:after,
.sprite-mobile-fm-uni-before.mime-folder-backup-2-solid-before:before,
.sprite-mobile-fm-uni.mime-folder-backup-2-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-backup-2-solid);
}
.sprite-mobile-fm-uni-after.mime-folder-camera-uploads-outline-after:after,
.sprite-mobile-fm-uni-before.mime-folder-camera-uploads-outline-before:before,
.sprite-mobile-fm-uni.mime-folder-camera-uploads-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-camera-uploads-outline);
}
.sprite-mobile-fm-uni-after.mime-folder-camera-uploads-solid-after:after,
.sprite-mobile-fm-uni-before.mime-folder-camera-uploads-solid-before:before,
.sprite-mobile-fm-uni.mime-folder-camera-uploads-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-camera-uploads-solid);
}
.sprite-mobile-fm-uni-after.mime-folder-chat-outline-after:after,
.sprite-mobile-fm-uni-before.mime-folder-chat-outline-before:before,
.sprite-mobile-fm-uni.mime-folder-chat-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-chat-outline);
}
.sprite-mobile-fm-uni-after.mime-folder-chat-solid-after:after,
.sprite-mobile-fm-uni-before.mime-folder-chat-solid-before:before,
.sprite-mobile-fm-uni.mime-folder-chat-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-chat-solid);
}
.sprite-mobile-fm-uni-after.mime-folder-incoming-outline-after:after,
.sprite-mobile-fm-uni-before.mime-folder-incoming-outline-before:before,
.sprite-mobile-fm-uni.mime-folder-incoming-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-incoming-outline);
}
.sprite-mobile-fm-uni-after.mime-folder-incoming-solid-after:after,
.sprite-mobile-fm-uni-before.mime-folder-incoming-solid-before:before,
.sprite-mobile-fm-uni.mime-folder-incoming-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-incoming-solid);
}
.sprite-mobile-fm-uni-after.mime-folder-outgoing-outline-after:after,
.sprite-mobile-fm-uni-before.mime-folder-outgoing-outline-before:before,
.sprite-mobile-fm-uni.mime-folder-outgoing-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-outgoing-outline);
}
.sprite-mobile-fm-uni-after.mime-folder-outgoing-solid-after:after,
.sprite-mobile-fm-uni-before.mime-folder-outgoing-solid-before:before,
.sprite-mobile-fm-uni.mime-folder-outgoing-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-outgoing-solid);
}
.sprite-mobile-fm-uni-after.mime-folder-outline-after:after,
.sprite-mobile-fm-uni-before.mime-folder-outline-before:before,
.sprite-mobile-fm-uni.mime-folder-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-outline);
}
.sprite-mobile-fm-uni-after.mime-folder-request-outline-after:after,
.sprite-mobile-fm-uni-before.mime-folder-request-outline-before:before,
.sprite-mobile-fm-uni.mime-folder-request-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-request-outline);
}
.sprite-mobile-fm-uni-after.mime-folder-request-solid-after:after,
.sprite-mobile-fm-uni-before.mime-folder-request-solid-before:before,
.sprite-mobile-fm-uni.mime-folder-request-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-request-solid);
}
.sprite-mobile-fm-uni-after.mime-folder-solid-after:after,
.sprite-mobile-fm-uni-before.mime-folder-solid-before:before,
.sprite-mobile-fm-uni.mime-folder-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-solid);
}
.sprite-mobile-fm-uni-after.mime-folder-sync-outline-after:after,
.sprite-mobile-fm-uni-before.mime-folder-sync-outline-before:before,
.sprite-mobile-fm-uni.mime-folder-sync-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-sync-outline);
}
.sprite-mobile-fm-uni-after.mime-folder-sync-solid-after:after,
.sprite-mobile-fm-uni-before.mime-folder-sync-solid-before:before,
.sprite-mobile-fm-uni.mime-folder-sync-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-sync-solid);
}
.sprite-mobile-fm-uni-after.mime-folder-users-outline-after:after,
.sprite-mobile-fm-uni-before.mime-folder-users-outline-before:before,
.sprite-mobile-fm-uni.mime-folder-users-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-users-outline);
}
.sprite-mobile-fm-uni-after.mime-folder-users-solid-after:after,
.sprite-mobile-fm-uni-before.mime-folder-users-solid-before:before,
.sprite-mobile-fm-uni.mime-folder-users-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-folder-users-solid);
}
.sprite-mobile-fm-uni-after.mime-font-outline-after:after,
.sprite-mobile-fm-uni-before.mime-font-outline-before:before,
.sprite-mobile-fm-uni.mime-font-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-font-outline);
}
.sprite-mobile-fm-uni-after.mime-font-solid-after:after,
.sprite-mobile-fm-uni-before.mime-font-solid-before:before,
.sprite-mobile-fm-uni.mime-font-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-font-solid);
}
.sprite-mobile-fm-uni-after.mime-generic-outline-after:after,
.sprite-mobile-fm-uni-before.mime-generic-outline-before:before,
.sprite-mobile-fm-uni.mime-generic-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-generic-outline);
}
.sprite-mobile-fm-uni-after.mime-generic-solid-after:after,
.sprite-mobile-fm-uni-before.mime-generic-solid-before:before,
.sprite-mobile-fm-uni.mime-generic-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-generic-solid);
}
.sprite-mobile-fm-uni-after.mime-illustrator-outline-after:after,
.sprite-mobile-fm-uni-before.mime-illustrator-outline-before:before,
.sprite-mobile-fm-uni.mime-illustrator-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-illustrator-outline);
}
.sprite-mobile-fm-uni-after.mime-illustrator-solid-after:after,
.sprite-mobile-fm-uni-before.mime-illustrator-solid-before:before,
.sprite-mobile-fm-uni.mime-illustrator-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-illustrator-solid);
}
.sprite-mobile-fm-uni-after.mime-image-outline-after:after,
.sprite-mobile-fm-uni-before.mime-image-outline-before:before,
.sprite-mobile-fm-uni.mime-image-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-image-outline);
}
.sprite-mobile-fm-uni-after.mime-image-solid-after:after,
.sprite-mobile-fm-uni-before.mime-image-solid-before:before,
.sprite-mobile-fm-uni.mime-image-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-image-solid);
}
.sprite-mobile-fm-uni-after.mime-image-stack-outline-after:after,
.sprite-mobile-fm-uni-before.mime-image-stack-outline-before:before,
.sprite-mobile-fm-uni.mime-image-stack-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-image-stack-outline);
}
.sprite-mobile-fm-uni-after.mime-image-stack-solid-after:after,
.sprite-mobile-fm-uni-before.mime-image-stack-solid-before:before,
.sprite-mobile-fm-uni.mime-image-stack-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-image-stack-solid);
}
.sprite-mobile-fm-uni-after.mime-indesign-outline-after:after,
.sprite-mobile-fm-uni-before.mime-indesign-outline-before:before,
.sprite-mobile-fm-uni.mime-indesign-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-indesign-outline);
}
.sprite-mobile-fm-uni-after.mime-indesign-solid-after:after,
.sprite-mobile-fm-uni-before.mime-indesign-solid-before:before,
.sprite-mobile-fm-uni.mime-indesign-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-indesign-solid);
}
.sprite-mobile-fm-uni-after.mime-ios-outline-after:after,
.sprite-mobile-fm-uni-before.mime-ios-outline-before:before,
.sprite-mobile-fm-uni.mime-ios-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-ios-outline);
}
.sprite-mobile-fm-uni-after.mime-ios-solid-after:after,
.sprite-mobile-fm-uni-before.mime-ios-solid-before:before,
.sprite-mobile-fm-uni.mime-ios-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-ios-solid);
}
.sprite-mobile-fm-uni-after.mime-keynote-outline-after:after,
.sprite-mobile-fm-uni-before.mime-keynote-outline-before:before,
.sprite-mobile-fm-uni.mime-keynote-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-keynote-outline);
}
.sprite-mobile-fm-uni-after.mime-keynote-solid-after:after,
.sprite-mobile-fm-uni-before.mime-keynote-solid-before:before,
.sprite-mobile-fm-uni.mime-keynote-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-keynote-solid);
}
.sprite-mobile-fm-uni-after.mime-mobile-outline-after:after,
.sprite-mobile-fm-uni-before.mime-mobile-outline-before:before,
.sprite-mobile-fm-uni.mime-mobile-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-mobile-outline);
}
.sprite-mobile-fm-uni-after.mime-mobile-solid-after:after,
.sprite-mobile-fm-uni-before.mime-mobile-solid-before:before,
.sprite-mobile-fm-uni.mime-mobile-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-mobile-solid);
}
.sprite-mobile-fm-uni-after.mime-numbers-outline-after:after,
.sprite-mobile-fm-uni-before.mime-numbers-outline-before:before,
.sprite-mobile-fm-uni.mime-numbers-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-numbers-outline);
}
.sprite-mobile-fm-uni-after.mime-numbers-solid-after:after,
.sprite-mobile-fm-uni-before.mime-numbers-solid-before:before,
.sprite-mobile-fm-uni.mime-numbers-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-numbers-solid);
}
.sprite-mobile-fm-uni-after.mime-openoffice-outline-after:after,
.sprite-mobile-fm-uni-before.mime-openoffice-outline-before:before,
.sprite-mobile-fm-uni.mime-openoffice-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-openoffice-outline);
}
.sprite-mobile-fm-uni-after.mime-openoffice-solid-after:after,
.sprite-mobile-fm-uni-before.mime-openoffice-solid-before:before,
.sprite-mobile-fm-uni.mime-openoffice-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-openoffice-solid);
}
.sprite-mobile-fm-uni-after.mime-pages-outline-after:after,
.sprite-mobile-fm-uni-before.mime-pages-outline-before:before,
.sprite-mobile-fm-uni.mime-pages-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-pages-outline);
}
.sprite-mobile-fm-uni-after.mime-pages-solid-after:after,
.sprite-mobile-fm-uni-before.mime-pages-solid-before:before,
.sprite-mobile-fm-uni.mime-pages-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-pages-solid);
}
.sprite-mobile-fm-uni-after.mime-pc-linux-outline-after:after,
.sprite-mobile-fm-uni-before.mime-pc-linux-outline-before:before,
.sprite-mobile-fm-uni.mime-pc-linux-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-pc-linux-outline);
}
.sprite-mobile-fm-uni-after.mime-pc-linux-solid-after:after,
.sprite-mobile-fm-uni-before.mime-pc-linux-solid-before:before,
.sprite-mobile-fm-uni.mime-pc-linux-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-pc-linux-solid);
}
.sprite-mobile-fm-uni-after.mime-pc-mac-outline-after:after,
.sprite-mobile-fm-uni-before.mime-pc-mac-outline-before:before,
.sprite-mobile-fm-uni.mime-pc-mac-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-pc-mac-outline);
}
.sprite-mobile-fm-uni-after.mime-pc-mac-solid-after:after,
.sprite-mobile-fm-uni-before.mime-pc-mac-solid-before:before,
.sprite-mobile-fm-uni.mime-pc-mac-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-pc-mac-solid);
}
.sprite-mobile-fm-uni-after.mime-pc-outline-after:after,
.sprite-mobile-fm-uni-before.mime-pc-outline-before:before,
.sprite-mobile-fm-uni.mime-pc-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-pc-outline);
}
.sprite-mobile-fm-uni-after.mime-pc-solid-after:after,
.sprite-mobile-fm-uni-before.mime-pc-solid-before:before,
.sprite-mobile-fm-uni.mime-pc-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-pc-solid);
}
.sprite-mobile-fm-uni-after.mime-pc-windows-outline-after:after,
.sprite-mobile-fm-uni-before.mime-pc-windows-outline-before:before,
.sprite-mobile-fm-uni.mime-pc-windows-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-pc-windows-outline);
}
.sprite-mobile-fm-uni-after.mime-pc-windows-solid-after:after,
.sprite-mobile-fm-uni-before.mime-pc-windows-solid-before:before,
.sprite-mobile-fm-uni.mime-pc-windows-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-pc-windows-solid);
}
.sprite-mobile-fm-uni-after.mime-pdf-outline-after:after,
.sprite-mobile-fm-uni-before.mime-pdf-outline-before:before,
.sprite-mobile-fm-uni.mime-pdf-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-pdf-outline);
}
.sprite-mobile-fm-uni-after.mime-pdf-solid-after:after,
.sprite-mobile-fm-uni-before.mime-pdf-solid-before:before,
.sprite-mobile-fm-uni.mime-pdf-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-pdf-solid);
}
.sprite-mobile-fm-uni-after.mime-photoshop-outline-after:after,
.sprite-mobile-fm-uni-before.mime-photoshop-outline-before:before,
.sprite-mobile-fm-uni.mime-photoshop-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-photoshop-outline);
}
.sprite-mobile-fm-uni-after.mime-photoshop-solid-after:after,
.sprite-mobile-fm-uni-before.mime-photoshop-solid-before:before,
.sprite-mobile-fm-uni.mime-photoshop-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-photoshop-solid);
}
.sprite-mobile-fm-uni-after.mime-powerpoint-outline-after:after,
.sprite-mobile-fm-uni-before.mime-powerpoint-outline-before:before,
.sprite-mobile-fm-uni.mime-powerpoint-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-powerpoint-outline);
}
.sprite-mobile-fm-uni-after.mime-powerpoint-solid-after:after,
.sprite-mobile-fm-uni-before.mime-powerpoint-solid-before:before,
.sprite-mobile-fm-uni.mime-powerpoint-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-powerpoint-solid);
}
.sprite-mobile-fm-uni-after.mime-premiere-outline-after:after,
.sprite-mobile-fm-uni-before.mime-premiere-outline-before:before,
.sprite-mobile-fm-uni.mime-premiere-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-premiere-outline);
}
.sprite-mobile-fm-uni-after.mime-premiere-solid-after:after,
.sprite-mobile-fm-uni-before.mime-premiere-solid-before:before,
.sprite-mobile-fm-uni.mime-premiere-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-premiere-solid);
}
.sprite-mobile-fm-uni-after.mime-raw-outline-after:after,
.sprite-mobile-fm-uni-before.mime-raw-outline-before:before,
.sprite-mobile-fm-uni.mime-raw-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-raw-outline);
}
.sprite-mobile-fm-uni-after.mime-raw-solid-after:after,
.sprite-mobile-fm-uni-before.mime-raw-solid-before:before,
.sprite-mobile-fm-uni.mime-raw-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-raw-solid);
}
.sprite-mobile-fm-uni-after.mime-spreadsheet-outline-after:after,
.sprite-mobile-fm-uni-before.mime-spreadsheet-outline-before:before,
.sprite-mobile-fm-uni.mime-spreadsheet-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-spreadsheet-outline);
}
.sprite-mobile-fm-uni-after.mime-spreadsheet-solid-after:after,
.sprite-mobile-fm-uni-before.mime-spreadsheet-solid-before:before,
.sprite-mobile-fm-uni.mime-spreadsheet-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-spreadsheet-solid);
}
.sprite-mobile-fm-uni-after.mime-text-outline-after:after,
.sprite-mobile-fm-uni-before.mime-text-outline-before:before,
.sprite-mobile-fm-uni.mime-text-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-text-outline);
}
.sprite-mobile-fm-uni-after.mime-text-solid-after:after,
.sprite-mobile-fm-uni-before.mime-text-solid-before:before,
.sprite-mobile-fm-uni.mime-text-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-text-solid);
}
.sprite-mobile-fm-uni-after.mime-torrent-outline-after:after,
.sprite-mobile-fm-uni-before.mime-torrent-outline-before:before,
.sprite-mobile-fm-uni.mime-torrent-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-torrent-outline);
}
.sprite-mobile-fm-uni-after.mime-torrent-solid-after:after,
.sprite-mobile-fm-uni-before.mime-torrent-solid-before:before,
.sprite-mobile-fm-uni.mime-torrent-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-torrent-solid);
}
.sprite-mobile-fm-uni-after.mime-transfer-outline-after:after,
.sprite-mobile-fm-uni-before.mime-transfer-outline-before:before,
.sprite-mobile-fm-uni.mime-transfer-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-transfer-outline);
}
.sprite-mobile-fm-uni-after.mime-transfer-solid-after:after,
.sprite-mobile-fm-uni-before.mime-transfer-solid-before:before,
.sprite-mobile-fm-uni.mime-transfer-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-transfer-solid);
}
.sprite-mobile-fm-uni-after.mime-url-outline-after:after,
.sprite-mobile-fm-uni-before.mime-url-outline-before:before,
.sprite-mobile-fm-uni.mime-url-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-url-outline);
}
.sprite-mobile-fm-uni-after.mime-url-solid-after:after,
.sprite-mobile-fm-uni-before.mime-url-solid-before:before,
.sprite-mobile-fm-uni.mime-url-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-url-solid);
}
.sprite-mobile-fm-uni-after.mime-vector-outline-after:after,
.sprite-mobile-fm-uni-before.mime-vector-outline-before:before,
.sprite-mobile-fm-uni.mime-vector-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-vector-outline);
}
.sprite-mobile-fm-uni-after.mime-vector-solid-after:after,
.sprite-mobile-fm-uni-before.mime-vector-solid-before:before,
.sprite-mobile-fm-uni.mime-vector-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-vector-solid);
}
.sprite-mobile-fm-uni-after.mime-video-outline-after:after,
.sprite-mobile-fm-uni-before.mime-video-outline-before:before,
.sprite-mobile-fm-uni.mime-video-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-video-outline);
}
.sprite-mobile-fm-uni-after.mime-video-solid-after:after,
.sprite-mobile-fm-uni-before.mime-video-solid-before:before,
.sprite-mobile-fm-uni.mime-video-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-video-solid);
}
.sprite-mobile-fm-uni-after.mime-web-data-outline-after:after,
.sprite-mobile-fm-uni-before.mime-web-data-outline-before:before,
.sprite-mobile-fm-uni.mime-web-data-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-web-data-outline);
}
.sprite-mobile-fm-uni-after.mime-web-data-solid-after:after,
.sprite-mobile-fm-uni-before.mime-web-data-solid-before:before,
.sprite-mobile-fm-uni.mime-web-data-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-web-data-solid);
}
.sprite-mobile-fm-uni-after.mime-web-lang-outline-after:after,
.sprite-mobile-fm-uni-before.mime-web-lang-outline-before:before,
.sprite-mobile-fm-uni.mime-web-lang-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-web-lang-outline);
}
.sprite-mobile-fm-uni-after.mime-web-lang-solid-after:after,
.sprite-mobile-fm-uni-before.mime-web-lang-solid-before:before,
.sprite-mobile-fm-uni.mime-web-lang-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-web-lang-solid);
}
.sprite-mobile-fm-uni-after.mime-word-outline-after:after,
.sprite-mobile-fm-uni-before.mime-word-outline-before:before,
.sprite-mobile-fm-uni.mime-word-outline {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-word-outline);
}
.sprite-mobile-fm-uni-after.mime-word-solid-after:after,
.sprite-mobile-fm-uni-before.mime-word-solid-before:before,
.sprite-mobile-fm-uni.mime-word-solid {
  background-image: url(../imagery/sprites-mobile-fm-uni-uni.25dac7a628a694.svg#mime-word-solid);
}
