.sprite-mobile-fm-theme,
.sprite-mobile-fm-theme-after:after,
.sprite-mobile-fm-theme-before:before {
  background: url(../imagery/sprites-mobile-fm-theme-dark.82a224123187f26f.svg) no-repeat;
  background-size: 100%;
  content: "";
  display: block;
  height: var(--icon-size, 16px);
  width: var(--icon-size, 16px);
}
.theme-dark-forced .sprite-mobile-fm-theme-after.icon-loader-throbber-thin-outline-after:after,
.theme-dark-forced .sprite-mobile-fm-theme-before.icon-loader-throbber-thin-outline-before:before,
.theme-dark-forced .sprite-mobile-fm-theme.icon-loader-throbber-thin-outline,
.theme-dark .sprite-mobile-fm-theme-after.icon-loader-throbber-thin-outline-after:after,
.theme-dark .sprite-mobile-fm-theme-before.icon-loader-throbber-thin-outline-before:before,
.theme-dark .sprite-mobile-fm-theme.icon-loader-throbber-thin-outline {
  background-image: url(../imagery/sprites-mobile-fm-theme-dark.82a224123187f26f.svg#icon-loader-throbber-thin-outline);
}
