.sprite-mobile-fm-theme,
.sprite-mobile-fm-theme-after:after,
.sprite-mobile-fm-theme-before:before {
  background: url(../imagery/sprites-mobile-fm-theme-light.1161299933f22141.svg) no-repeat;
  background-size: 100%;
  content: "";
  display: block;
  height: var(--icon-size, 16px);
  width: var(--icon-size, 16px);
}
.theme-light-forced .sprite-mobile-fm-theme-after.icon-loader-throbber-thin-outline-after:after,
.theme-light-forced .sprite-mobile-fm-theme-before.icon-loader-throbber-thin-outline-before:before,
.theme-light-forced .sprite-mobile-fm-theme.icon-loader-throbber-thin-outline,
.theme-light .sprite-mobile-fm-theme-after.icon-loader-throbber-thin-outline-after:after,
.theme-light .sprite-mobile-fm-theme-before.icon-loader-throbber-thin-outline-before:before,
.theme-light .sprite-mobile-fm-theme.icon-loader-throbber-thin-outline {
  background-image: url(../imagery/sprites-mobile-fm-theme-light.1161299933f22141.svg#icon-loader-throbber-thin-outline);
}
