.mb-monthly-notification-box {
  background: #1c1b1f;
}

.mb-text {
  color: white;
}

.mb-text-numbers {
  color: #8ed788;
}

.mb-box-header-content {
  background: #282a32;
}

.mb-top {
  background: #282a32;
}

svg {
  fill: #bbbbbc;
}

svg.round-icon {
  fill: #2d372f;
}
#main-icon {
  fill: #8ed788;
}
.mb-top-banner {
  fill: #282a32;
}

.mb-top-banner-text {
  fill: #fff;
}
