<div class="timeout-view" id="disconnect-dialog">
  <div class="timeout-view-content">
    <div class="timeout-view-header">
      <h2 class="timeout-view-title">Disconnected</h2>
      <button id="disconnected-close" class="timeout-view-close-button">X</button>
    </div>
    <div class="timeout-view-body">
      <p>
        Your VPN session has reached its time limit. To continue, you can either reconnect for another session or upgrade to our premium
        plan for unlimited time.
      </p>
      <button class="timeout-view-button timeout-view-upgrade-button" id="disconnected-upgrade">Get unlimited time</button>
      <button class="timeout-view-button timeout-view-reconnect-button" id="disconnected-cancel">Try again</button>
    </div>
  </div>
</div>
