@import url("/helper_scripts/fonts.css");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1f262f;
  background-color: #f3f3f3;
  letter-spacing: 0;
}

input[type="button"] {
  font-family: "Open Sans", sans-serif;
  border-radius: 6px;
  text-align: center;
  min-height: 40px;
  font-size: 14px;
  font-weight: bolder;
  padding: 0 12px 0 12px;
  border: none;
  cursor: pointer;
}

.bluebutton {
  background-color: #005799;
  color: white;
}

.bluebutton:hover,
.bluebutton:focus {
  background-color: #00457a;
}

.bluebutton:active {
  background-color: #002b4c;
}
