.bottom-menu {
  --text-color: #666;
  --text-color-hover: #666;
  --text-color-strong: #373737;
  --stroke-horizontal: #dadada;
}
.bottom-menu.body {
  background-color: var(--text-color-white-higher);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-family: var(--text-font-family);
  font-size: 0;
  padding: 90px 0 110px;
  position: relative;
}
.ru .bottom-menu.body {
  font-family: "Lucida Grande", var(--text-font-family);
}
.bottom-menu .mobile-menu {
  display: none;
}
.bottom-menu .desktop-menu {
  display: block;
}
.bottom-menu .column {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  text-align: start;
  vertical-align: top;
}
.bottom-menu .column.left {
  padding-left: 0;
  padding-right: 20px;
}
.bottom-menu .col1-of-6 {
  width: 15.6%;
}
.bottom-menu .col2-of-6 {
  width: 22%;
}
.bottom-menu .header {
  font-family: var(--text-font-family-black);
  line-height: 16px;
  margin: 40px 0 24px;
  text-transform: uppercase;
}
.bottom-menu .header,
.bottom-menu .link {
  color: var(--text-color);
  font-size: 13px;
}
.bottom-menu .link {
  display: block;
  line-height: 17px;
  padding: 7px 0;
  transition: var(--transition-all);
  transition-duration: 0.2s;
}
.bottom-menu .link:hover {
  color: var(--text-color-hover);
}
.bottom-menu .logo {
  background-position: -12px -1364px;
  border-radius: 0;
  display: block;
  float: none;
  height: 55px;
  margin: 26px 0 20px;
  width: 169px;
}
.bottom-menu .company-info {
  color: var(--text-color);
  font-size: 16px;
  line-height: 20px;
  padding: 6px 10px 6px 0;
}
.bottom-menu .company-info strong {
  color: var(--text-color-strong);
  display: block;
  font-family: var(--text-font-family-bold);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 0 0 9px;
}
.bottom-menu .company-info span {
  display: block;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 20px;
}
.bottom-menu .company-info span.follow-txt {
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 14px;
}
.bottom-menu .company-info.clone {
  display: none;
}
.bottom-menu .social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.bottom-menu .social i {
  transform: scale(0.6);
}
.bottom-social-button {
  -webkit-margin-end: 8px;
  background-color: #f4f4f5;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin-bottom: 15px;
  margin-inline-end: 8px;
  padding: 0;
}
.bottom-menu hr {
  display: none;
}
@media only screen and (max-width: 960px) {
  .bottom-menu .desktop-menu .col1-of-6 {
    width: 20%;
  }
  .bottom-menu.body {
    padding: 45px 0 50px;
  }
  .bottom-menu .link {
    font-size: 12px;
  }
  .bottom-menu .bottom-page.horizontal-centered-bl.mid-wide {
    max-width: 742px;
  }
  .bottom-menu .column.left {
    border-top: 1px solid var(--stroke-horizontal);
    display: block;
    float: none;
    font-size: 18px;
    line-height: 22px;
    margin: 75px auto 0;
    padding-top: 44px;
    text-align: center;
    width: auto;
  }
  .bottom-pages .download a.logo {
    display: block;
  }
  .bottom-menu .company-info {
    padding: 0;
  }
  .bottom-menu .company-info strong {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 14px;
  }
  .bottom-menu .company-info span {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 16px;
  }
  .bottom-menu .company-info span.follow-txt {
    display: none;
  }
  .bottom-menu .social {
    display: flex;
    justify-content: center;
  }
  .bottom-social-button {
    cursor: pointer;
    margin: 0 10px;
    padding: 9px;
  }
  .bottom-menu .social i {
    transform: none;
  }
}
@media only screen and (max-width: 750px) {
  .bottom-menu .mobile-menu {
    display: block;
  }
  .bottom-menu .desktop-menu {
    display: none;
  }
  .bottom-menu .cols {
    display: flex;
    flex-wrap: wrap;
  }
  .bottom-menu .col1-of-2 {
    width: 50%;
  }
  .bottom-menu .company-info strong {
    font-size: 16px;
    padding-bottom: 16px;
  }
  .bottom-menu .company-info span {
    font-size: 14px;
    line-height: 17px;
  }
  .bottom-social-button {
    margin: 0 10px;
    padding: 0;
  }
  .bottom-menu .social {
    display: flex;
    justify-content: center;
    padding: 0 0 13px;
  }
  .bottom-menu .social i {
    transform: scale(0.7);
  }
  .bottom-menu .legal {
    padding-left: 0;
    width: 100%;
  }
  .bottom-menu .legal .link {
    float: left;
    width: 50%;
  }
  .bottom-menu .legal .link:nth-of-type(2n) {
    padding-left: 15px;
    width: calc(50% - 15px);
  }
  .bottom-menu .header {
    margin-bottom: 14px;
    margin-top: 27px;
  }
  .bottom-menu hr {
    background: var(--stroke-horizontal);
    border: 0;
    display: block;
    height: 1px;
    margin: 50px auto 38px;
    width: 70%;
  }
  .bottom-menu .support-legal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
