.file-request-upload-page {
  --text-font-family: "Inter";
  --text-font-family-heading: "Poppins";

  --color-surface-1: #fafafb;
  --color-surface-2: #f3f4f4;
  --color-page-background: #fff;
  --color-text-primary: #303233;
  --color-link-primary: #2c5beb;
  --color-support-success: #009b48;
  --color-support-info: #05baf1;

  --color-text-secondary: #616366;
  --color-icon-secondary: #616366;
  --color-border-strong: #d8d9db;

  --color-text-error: #e31b57;
  --color-support-error: #e31b57;
  --color-icon-disabled: #c1c2c4;
  --color-text-disabled: #c1c2c4;
  --color-icon-primary: #303233;

  --text-regular: 400 16px/24px var(--text-font-family);
  --text-label: 600 16px/20px var(--text-font-family);
  --text-h1: 700 20px/24px var(--text-font-family-heading);
  --text-h2: 700 18px/24px var(--text-font-family);
  --text-strong: 700 16px/24px var(--text-font-family);
  --text-caption: 400 14px/18px var(--text-font-family);
  --text-link-small: 400 14px/21px var(--text-font-family);
  --text-link-large: 400 16px/24px var(--text-font-family);
  --button-label: 600 16px/120% var(--text-font-family);

  --color-button-primary: #04101e;
  --color-button-disabled: rgba(0, 0, 0, 0.1);
  --color-text-inverse-accent: #fafafb;
  --color-notification-error: #ffe4e8;
  --color-text-on-color-disabled: #a9abad;
  background-color: var(--color-surface-2);
  height: 100%;
  overflow: auto;

  position: absolute;
  width: 100%;
}
.theme-dark .file-request-upload-page {
  --color-surface-1: #303233;
  --color-surface-2: #494a4d;
  --color-page-background: #18191a;
  --color-text-primary: #f3f4f4;
  --color-link-primary: #69a3fb;
  --color-support-success: #09bf5b;
  --color-support-info: #0096c9;

  --color-icon-primary: #a9abad;
  --color-icon-secondary: #a9abad;
  --color-text-secondary: #a9abad;
  --color-border-strong: #616366;

  --color-text-error: #fd6f90;
  --color-support-error: #fd6f90;
  --color-icon-disabled: #797c80;
  --color-text-disabled: #797c80;

  --color-button-primary: #f4f4f5;
  --color-button-disabled: hsla(0, 0%, 100%, 0.1);
  --color-text-inverse-accent: #04101e;
  --color-notification-error: #891240;
  --color-text-on-color-disabled: #919397;
}
.file-request-upload-page .page-wrapper {
  height: 100%;
  position: relative;
}
.file-request-upload-page .page-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto 84px;
  max-width: 600px;
  width: 100%;
}
.file-request-upload-page .page-main .page-logo {
  margin: 47px auto 79px;
}
.file-request-upload-page .page-main .page-logo i {
  --icon-size: 67px;
}
.file-request-upload-page .page-main .page-content {
  background-color: var(--color-page-background);
  border-radius: 10px;
  padding: 24px;
}
.file-request-upload-page .page-main .page-content .content-title {
  color: var(--color-text-primary);
  font: var(--text-h1);
  margin-bottom: 40px;
  margin-top: 16px;
}
.file-request-upload-page .page-main .page-content .content-details {
  background-color: var(--color-surface-1);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 24px;
}
.file-request-upload-page .page-main .page-content .content-details .error-icon {
  display: none;
}
.file-request-upload-page .page-main .page-content .content-details .detail-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.file-request-upload-page .page-main .page-content .content-details .detail-title {
  color: var(--color-text-primary);
  font: var(--text-h2);
  margin-bottom: 0;
  margin-top: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
.file-request-upload-page .page-main .page-content .content-details .detail-description,
.file-request-upload-page .page-main .page-content .content-details .detail-upload-id {
  color: var(--color-text-secondary);
  font: var(--text-regular);
  margin-bottom: 0;
  margin-top: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
.file-request-upload-page .page-main .page-content .content-details .detail-upload-id .upload-id {
  user-select: text;
  -webkit-user-select: text;
}
.file-request-upload-page .page-main .page-content .content-details.content-error {
  background-color: inherit;
  border: 1px solid var(--color-support-error);
  text-align: center;
}
.file-request-upload-page .page-main .page-content .content-details.content-error .detail-description,
.file-request-upload-page .page-main .page-content .content-details.content-error .detail-title,
.file-request-upload-page .page-main .page-content .content-details.content-error .detail-upload-id {
  color: var(--color-text-error);
}
.file-request-upload-page .page-main .page-content .content-upload-block {
  border: 1px solid var(--color-border-strong);
  border-radius: 8px;
  height: 314px;
}
.file-request-upload-page .page-main .page-content .block-empty {
  border-style: dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.file-request-upload-page .page-main .page-content .mobile.block-empty {
  display: none;
}
body.file-request-drag .file-request-upload-page .page-main .page-content .block-empty,
body.file-request-drag .file-request-upload-page .page-main .page-content .block-uploading {
  border-color: var(--color-support-info);
  border-style: solid;
}
.file-request-upload-page .page-main .page-content .block-empty .block-empty-icon.error-icon {
  display: none;
}
.file-request-upload-page .page-main .page-content .block-empty .block-empty-icon i {
  --icon-size: 64px;
  margin: 0 auto;
}
.file-request-upload-page .page-main .page-content .block-empty .block-empty-caption {
  color: var(--color-text-secondary);
  font: var(--text-regular);
  margin-top: 32px;
}
.file-request-upload-page .page-main .page-content .block-empty .block-empty-caption .block-empty-upload-link {
  color: var(--color-link-primary);
  text-decoration: underline;
}
.file-request-upload-page .page-main .page-content .block-empty.block-empty-error .block-empty-icon:not(.error-icon) {
  display: none;
}
.file-request-upload-page .page-main .page-content .block-empty.block-empty-error .block-empty-icon.error-icon {
  display: block;
}
.file-request-upload-page .page-main .page-content .block-empty.block-empty-error .block-empty-icon.error-icon i {
  --mask-color: var(--color-icon-disabled);
}
.file-request-upload-page .page-main .page-content .block-empty.block-empty-error .block-empty-caption,
.file-request-upload-page .page-main .page-content .block-empty.block-empty-error .block-empty-caption .block-empty-upload-link {
  color: var(--color-text-disabled);
}
.file-request-upload-page .page-main .page-content .block-empty.block-empty-error .block-empty-caption .block-empty-upload-link {
  cursor: default;
}
.file-request-upload-page .page-main .page-content .block-uploading {
  border-style: solid;
  display: flex;
  flex-direction: column;
  padding-right: 2px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-scroll {
  box-sizing: border-box;
  height: 314px;
  overflow-y: scroll;
  padding-left: 11px;
  padding-right: 9px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-scroll.ps.ps--active-y {
  padding-right: 15px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-scroll .ps__scrollbar-y-rail {
  margin-bottom: 8px;
  margin-top: 8px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-details {
  display: flex;
  padding: 16px 16px 14px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item:first-child {
  margin-top: 4px;
}
.file-request-upload-page .page-main .page-content .block-uploading div.block-uploading-item.last-item {
  margin-bottom: 8px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-details .item-name,
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-details .item-size,
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-details .item-status {
  font: var(--text-caption);
  letter-spacing: 0.02em;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-details .item-name {
  color: var(--color-text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-details .item-size {
  color: var(--color-text-secondary);
  flex: 0 0 70px;
  margin-left: 16px;
  margin-right: 16px;
  width: 70px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-details .item-status {
  color: var(--color-text-secondary);
  display: initial;
  flex: 0 0 75px;

  height: auto;
  margin-left: auto;
  padding: initial;
  position: static;
  text-align: right;
  white-space: normal;

  width: 75px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-error {
  color: var(--color-text-error);
  display: none;
  margin-top: 8px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-error span {
  display: inline-block;
  font: var(--text-caption);
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-error .error-message {
  margin-left: 8px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-error .error-reupload {
  color: var(--color-link-primary);
  font: var(--text-link-small);
  margin-left: 3px;
  text-decoration: underline;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-error .error-icon i {
  --icon-size: 16px;
  --mask-color: var(--color-text-error);
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-progress {
  border-bottom: 1px solid var(--color-border-strong);
  height: 2px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-progress-bar {
  background-color: var(--color-support-success);
  height: 2px;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item.transfer-error .item-error {
  display: block;
}
.file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item.transfer-error .item-progress-bar {
  background-color: var(--color-support-error);
}
.file-request-upload-page .page-main .page-content .content-upload-summary {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-top: 16px;
}
.file-request-upload-page .page-main .page-content .content-upload-summary .upload-more {
  gap: 10px;
  color: var(--color-text-primary);
  display: flex;
  font: var(--text-label);
}
.file-request-upload-page .page-main .page-content .content-upload-summary .upload-more .add-icon i {
  --icon-size: 22px;
  --mask-color: var(--color-icon-primary);
}
.file-request-upload-page .page-main .page-content .content-upload-summary .upload-more span {
  color: var(--color-text-primary);
  text-decoration: underline;
}
.file-request-upload-page .page-main .page-content .content-upload-summary .upload-info {
  color: var(--color-text-secondary);
  font: var(--text-regular);
}
.file-request-upload-page .page-caption {
  box-sizing: border-box;
  margin-bottom: 40px;
  position: sticky;
  text-align: center;
  top: calc(100vh - 210px);
  width: 100%;
}
.file-request-upload-page .page-caption .page-caption-wrapper {
  color: var(--color-text-secondary);
  font: var(--text-regular);
  margin: 0 auto;
  max-width: 600px;
}
.file-request-upload-page .page-caption .page-caption-wrapper p:first-child {
  margin-top: 0;
}
.file-request-upload-page .page-caption .page-caption-wrapper p a {
  color: var(--color-link-primary);
  font: var(--text-link-large);
  text-decoration: underline;
}
.file-request-upload-page .page-footer {
  align-items: center;
  background-color: var(--color-page-background);
  box-sizing: border-box;
  display: flex;
  font: var(--text-regular);
  height: 80px;
  justify-content: space-between;
  padding: 28px 21px;
  position: sticky;
  top: calc(100vh - 82px);
  width: 100%;
}
.file-request-upload-page .page-footer .page-copyright .copyright-wrapper a {
  color: var(--color-text-primary);
}
.file-request-upload-page .page-footer .page-language .language-wrapper {
  display: flex;
  justify-content: center;
}
.file-request-upload-page .page-footer .page-language .language-wrapper .language-icon i {
  --icon-size: 22px;
  --mask-color: var(--color-icon-secondary);
}
.file-request-upload-page .page-footer .page-language .language-wrapper .language-text {
  color: var(--color-text-secondary);
  font: var(--text-label);
  padding: 0 12px;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  .file-request-upload-page .page-main .page-logo {
    margin: 27px auto;
  }
  .file-request-upload-page .page-main .page-logo .icon-mega-logo {
    display: none;
  }
  .file-request-upload-page .page-main .page-logo .icon-mega-logo-mobile {
    background-image: url(../imagery/mega-icon-mega-logo-light.3d4677dd8876524e.svg);
    display: block !important;
    height: 32px;
    width: 99px;
  }
  .theme-dark .page-main .page-logo .icon-mega-logo-mobile {
    background-image: url(../imagery/mega-icon-mega-logo-dark.b82b48e7ad1e56db.svg);
  }
  .file-request-upload-page .page-main {
    margin-bottom: 40px;
    padding: 0;
    width: inherit;
  }
  .file-request-upload-page .page-main .page-content {
    border-radius: unset;
    padding-top: 40px;
  }
  .file-request-upload-page .page-main .page-content .content-title {
    margin-bottom: 20px;
  }
  .file-request-upload-page .page-main .page-content .content-details.content-error {
    background-color: var(--color-notification-error);
    border: unset;
    display: flex;
    padding: 20px 24px;
    text-align: left;
  }
  .file-request-upload-page .page-main .page-content .content-details.content-error .error-icon {
    --icon-size: 23px;
    color: var(--color-support-error);
    display: inline;
  }
  .file-request-upload-page .page-main .page-content .content-details.content-error .detail-wrapper {
    margin-left: 8px;
    row-gap: unset;
  }
  .file-request-upload-page .page-main .page-content .content-details.content-error .detail-title {
    font: var(--text-strong);
  }
  .file-request-upload-page .page-main .page-content .content-details.content-error .detail-description,
  .file-request-upload-page .page-main .page-content .content-details.content-error .detail-title {
    color: var(--color-text-primary);
    margin-bottom: 8px;
  }
  .file-request-upload-page .page-main .page-content .block-uploading .block-uploading-scroll,
  .file-request-upload-page .page-main .page-content .content-upload-block {
    height: 232px;
  }
  .file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item.transfer-error .item-error {
    align-items: center;
    column-gap: 5px;
    display: flex;
  }
  .file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-error .error-message-wrapper span {
    display: inline;
  }
  .file-request-upload-page .page-main .page-content .block-uploading .block-uploading-item .item-error .error-message {
    margin-left: 0;
  }
  .file-request-upload-page .page-main .page-content .block-empty {
    display: none;
  }
  .file-request-upload-page .page-main .page-content .mobile.block-empty {
    border-style: unset;
    display: flex;
    height: auto;
  }
  .file-request-upload-page .page-main .page-content .block-empty .block-empty-upload-button {
    background-color: var(--color-button-primary);
    border-radius: 8px;
    color: var(--color-text-inverse-accent);
    font: var(--button-label);
    padding: 14px 24px;
    text-decoration: none;
  }
  .file-request-upload-page .page-main .page-content .block-empty.block-empty-error .block-empty-upload-button {
    background-color: var(--color-button-disabled);
    color: var(--color-text-on-color-disabled);
  }
  .file-request-upload-page .page-main .page-content .content-upload-summary {
    flex-direction: column;
    margin-top: 20px;
    row-gap: 24px;
  }
  .file-request-upload-page .page-caption {
    padding: 0 20px;
    top: calc(100vh - 255px);
  }
  .file-request-upload-page .page-footer {
    height: auto;
  }
  .file-request-upload-page .page-footer .page-copyright .copyright-wrapper a span {
    display: block;
  }
}
