.fm-filter-chips-wrapper {
  margin-inline: 20px;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 20px;
  display: flex;
  min-height: 36px;
}
.rtl .fm-filter-chips-wrapper {
  flex-direction: row-reverse;
}
.fm-filter-chips-wrapper .fm-filter-chips {
  gap: 8px;
  display: flex;
  width: fit-content;
}
.rtl .fm-filter-chips-wrapper .fm-filter-chips {
  flex-direction: row-reverse;
}
.fm-filter-chips .fm-filter-reset {
  align-items: center;
  color: var(--text-color-info);
  cursor: pointer;
  display: flex;
  height: 24px;
}
.fm-filter-chips .fm-filter-chip-button {
  gap: 4px;
  padding-inline: 12px;
  -webkit-padding-start: 12px;
  -webkit-padding-end: 12px;
  align-items: center;
  background: var(--surface-grey-2);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
}
.fm-filter-chips .fm-filter-chip-button .fm-filter-chip-button-text {
  color: var(--stroke-main-inverted);
}
.rtl .fm-filter-chips .fm-filter-chip-button .nw-fm-tree-arrow:before {
  transform: rotate(90deg) !important;
}
.fm-filter-chips .fm-filter-chip-button.selected {
  background: rgba(0, 191, 165, 0.3);
}
.hide-radio-on .radioOn {
  display: none !important;
}
.m-dropdown-item.hide-radio-on:hover {
  color: var(--text-color-medium);
}
.m-dropdown-item.hide-radio-on:active img,
.m-dropdown-item.hide-radio-on:focus,
.m-dropdown-item.hide-radio-on:hover {
  --mask-color: var(--icon-rest);
}
.m-dropdown-item.hide-radio-on.selected {
  background: var(--surface-grey-2);
  color: var(--text-color-medium);
}
.m-dropdown-item.hide-radio-on .selected-mark {
  display: none;
}
.m-dropdown-item.hide-radio-on.selected .selected-mark {
  --mask-color: var(--icon-rest);
  display: block;
}
