@font-face {
  font-family: PoppinsSemiBold;
  src:
    url(../fonts/Poppins-SemiBold.woff2?v=ee124eac57f0acdc) format("woff2"),
    url(../fonts/Poppins-SemiBold.woff?v=699da7b935d84fa7) format("woff");
}
@font-face {
  font-family: NotoSansBold;
  src:
    url(../fonts/NotoSans-Bold.woff2?v=446b8b18f0fb46ff) format("woff2"),
    url(../fonts/NotoSans-Bold.woff?v=a7cf29b581fbcda8) format("woff");
}
@font-face {
  font-family: NotoSansReg;
  src:
    url(../fonts/NotoSans-Regular.woff2?v=9e3cc35d8d10ce41) format("woff2"),
    url(../fonts/NotoSans-Regular.woff?v=428ee08945fea1fd) format("woff");
}
@font-face {
  font-family: NotoSansSemiBold;
  src:
    url(../fonts/NotoSans-SemiBold.woff2?v=8506d38342a9fa56) format("woff2"),
    url(../fonts/NotoSans-SemiBold.woff?v=79416cadce9de996) format("woff");
}
.bottom-page.pricing-pg {
  --left-padding: 40px;
  --right-padding: 40px;
  --top-padding: 64px;
  --bottom-padding: 64px;
  --font-poppins-sb-pricing: "PoppinsSemiBold", sans-serif;
  --font-noto-b-pricing: "NotoSansBold", sans-serif;
  --font-noto-r-pricing: "NotoSansReg", sans-serif;
  --font-noto-sb-pricing: "NotoSansSemiBold", sans-serif;
  --font-size-h2: 48px/56px;
  --font-size-h3: 40px/48px;
  --font-size-h5: 24px/28px;
  --font-size-h6: 20px/24px;
  --font-top-ref: 12px/28px;
  --font-top-arstrisk: 28px/36px;
  --font-quotation: 32px/44px;
  --font-copy-medium: 16px/24px;
  --text-h2-pricing: normal 400 var(--font-size-h2) var(--font-poppins-sb-pricing);
  --text-h3-pricing: normal 400 var(--font-size-h3) var(--font-poppins-sb-pricing);
  --text-h5-pricing: normal 400 var(--font-size-h5) var(--font-poppins-sb-pricing);
  --text-top-reference: normal 400 var(--font-top-arstrisk) var(--font-poppins-sb-pricing);
  --text-top-reference2: normal 400 var(--font-top-ref) var(--font-poppins-sb-pricing);
  --text-h6-pricing: normal 400 var(--font-size-h6) var(--font-noto-b-pricing);
  --text-copy-secondary-pricing: normal 400 14px/20px var(--font-noto-r-pricing);
  --text-copy-medium-pricing: normal 400 var(--font-copy-medium) var(--font-noto-r-pricing);
  --text-copy-large-pricing: normal 400 18px/28px var(--font-noto-r-pricing);
  --text-quotation-pricing: normal 400 var(--font-quotation) var(--font-noto-r-pricing);
  --text-copy-medium-bold-pricing: normal 400 var(--font-copy-medium) var(--font-noto-b-pricing);
  --text-caption-regular-pricing: normal 400 14px/20px var(--font-noto-r-pricing);
  --text-caption-bold-pricing: normal 400 14px/20px var(--font-noto-sb-pricing);
  --text-label-xl-pricing: normal 400 18px/24px var(--font-noto-sb-pricing);
  --text-button-pricing: normal 400 var(--font-copy-medium) var(--font-noto-sb-pricing);
  --color-heading: #04101e;
  --color-bg-surface-1: #f9f9fb;
  --color-bg-surface-2: #f5f5f6;
  --color-primary-red-500: #dd1405;
  --color-primary-red-600: #b72c1c;
  --color-copy-secondary: #6e6e6e;
  --color-grey-150: #e2e3e3;
  --color-secondary-cobalt-900: #00174c;
  --color-secondary-cobalt-600: #003c9c;
  --color-grey-50: #f8f8f9;
  --color-grey-200: #d7d8d9;
  --color-primary: #333;
  --color-bg: #fff;
  --color-disabled: #d5d5d5;
  --color-copy-primary: #e5e5e5;
}
.bottom-page.pricing-pg .bottom-page.full-block {
  color: var(--color-heading);
  margin: auto;
  max-width: 1320px;
  overflow: unset;
}
.bottom-page.pricing-pg .bottom-page.full-block * {
  user-select: text;
  -webkit-user-select: text;
}
.pricing-pg .pricing-pg.hero-section {
  padding-top: 118px;
}
.mobile .pricing-pg .pricing-pg.hero-section {
  padding-top: 0;
}
.pricing-pg .pricing-pg.hero-section .hero-section-txt {
  font: var(--text-h2-pricing);
  padding: var(--top-padding) var(--right-padding) var(--bottom-padding) var(--left-padding);
}
.pricing-pg .pricing-pg.tabs-module {
  display: flex;
  padding: 0 var(--right-padding) 0 var(--left-padding);
}
.pricing-pg .pricing-pg.tabs-module .tabs-module-block {
  gap: 8px;
  align-items: center;
  background-color: var(--color-bg-surface-2);
  border-top: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  text-align: center;
  width: 302px;
}
.pricing-pg .pricing-pg.tabs-module .tabs-module-block.selected {
  background-color: unset;
  border-top: 4px solid var(--color-primary-red-500);
}
.pricing-pg .pricing-pg.tabs-module .tabs-block-title {
  font: var(--text-h6-pricing);
}
.pricing-pg .pricing-pg.tabs-module .tabs-block-sub-title {
  color: var(--color-copy-secondary);
  font: var(--text-copy-secondary-pricing);
}
.pricing-pg .pricing-pg.period-note-container,
.pricing-pg .pricing-pg.pick-period-module {
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--right-padding) 0 var(--left-padding);
}
.pricing-pg .pricing-pg.pick-period-module .pricing-radio-group {
  gap: 16px;
  display: flex;
}
.pricing-pg .pricing-radio-group .pricing-radio-option {
  gap: 8px;
  align-items: center;
  cursor: pointer;
  display: flex;
  font: var(--text-copy-medium-pricing);
}
.pricing-pg .pricing-radio-group .pricing-radio-option .pricing-radio-btn {
  border: 2px solid var(--color-heading);
  border-radius: 10px;
  box-sizing: border-box;
  height: 20px;
  position: relative;
  width: 20px;
}
.pricing-pg .pricing-radio-group .pricing-radio-option.selected .pricing-radio-btn {
  background: var(--color-heading);
  border: none;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 10px;
}
.pricing-pg .pricing-radio-group .pricing-radio-option.selected .pricing-radio-btn:after {
  border: 2px solid var(--color-heading);
  border-radius: 10px;
  bottom: -5px;
  content: "";
  left: -5px;
  position: absolute;
  right: -5px;
  top: -5px;
}
.pricing-pg .pricing-pg.period-note-container .period-note-txt {
  background: #f5f9ff;
  border-radius: 27px;
  margin-top: 8px;
  padding: 10px;
}
.pricing-pg .pricing-pg.plans-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  padding: var(--right-padding);
  padding-bottom: 32px;
}
.pricing-pg .pricing-pg.plans-cards-container .pricing-plan-card {
  border: 1px solid var(--color-grey-150);
  padding-bottom: 32px;
}
.pricing-pg .pricing-pg.plans-cards-container .pricing-plan-card.disabled {
  opacity: unset;
}
.pricing-pg .pricing-pg.plans-cards-container .pricing-plan-card > * {
  padding-left: 24px;
  padding-right: 24px;
}
.pricing-plan-card .pricing-plan-recommend {
  align-items: flex-start;
  background: var(--color-secondary-cobalt-900);
  color: var(--color-grey-50);
  display: flex;
  font: var(--text-caption-bold-pricing);
  justify-content: center;
  padding: 4px;
  visibility: hidden;
  white-space: nowrap;
}
.pricing-plan-card .pricing-plan-title {
  font: var(--text-h5-pricing);
  margin-top: 24px;
}
.pricing-plan-card .pricing-plan-only,
.pricing-plan-card .pricing-plan-only.strikethrough {
  color: var(--color-copy-secondary);
  font: var(--text-caption-regular-pricing);
  margin-top: 32px;
}
.pricing-plan-card .pricing-plan-only.strikethrough {
  text-decoration: line-through;
}
.pricing-plan-card .pricing-plan-price {
  font: var(--text-h2-pricing);
  margin-top: 8px;
  white-space: nowrap;
}
.pricing-plan-card .pricing-plan-price-unit {
  color: var(--color-copy-secondary);
  font: var(--text-caption-regular-pricing);
  margin-top: 8px;
}
.pricing-plan-card .pricing-plan-price-unit.billed-yearly {
  color: var(--color-copy-secondary);
  font: var(--text-caption-bold-pricing);
  margin-top: 8px;
}
.pricing-plan-card .pricing-plan-monthly {
  color: var(--color-copy-secondary);
  font: var(--text-caption-regular-pricing);
}
.pricing-plan-card .pricing-plan-storage,
.pricing-plan-card .pricing-plan-trasfer {
  color: var(--color-primary);
  font: var(--text-copy-medium-bold-pricing);
  white-space: nowrap;
}
.pricing-plan-card .pricing-plan-storage {
  margin-top: 32px;
}
.pricing-plan-card .pricing-plan-trasfer {
  margin-bottom: 92px;
  margin-top: 8px;
  position: relative;
}
.pricing-plan-card .pricing-plan-more {
  -webkit-padding-end: 24px;
  color: var(--color-copy-secondary);
  font: var(--text-copy-secondary-pricing);
  margin-top: 8px;
  padding-inline-end: 24px;
  position: absolute;
  white-space: normal;
}
.pricing-plan-card .pricing-plan-more span {
  color: var(--color-secondary-cobalt-600);
  cursor: pointer;
  text-decoration: underline;
}
.pricing-plan-btn-container {
  display: flex;
}
.pricing-plan-btn-container .pricing-plan-btn {
  align-items: center;
  background-color: var(--color-bg);
  border: 2px solid var(--color-heading);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font: var(--text-button-pricing);
  justify-content: center;
  padding: 10px 24px;
}
.disabled .pricing-plan-btn-container .pricing-plan-btn {
  cursor: default;
  opacity: 0.2;
}
.pricing-plan-btn-container .pricing-plan-btn:hover {
  background-color: var(--color-bg-surface-1);
}
.pricing-plan-card.popular .pricing-plan-recommend {
  visibility: unset;
}
.pricing-pg .pricing-pg.plans-cards-container .pricing-plan-card.popular {
  border-color: var(--color-secondary-cobalt-900);
}
.pricing-flexi-block-card-contianer .pricing-plan-card .pricing-plan-btn,
.pricing-plan-card.popular .pricing-plan-btn {
  background-color: var(--color-primary-red-500);
  border: unset;
  color: var(--color-grey-50);
  padding: 12px 24px;
}
.pricing-flexi-block-card-contianer .pricing-plan-card .pricing-plan-btn:hover,
.pricing-plan-card.popular .pricing-plan-btn:hover {
  background-color: var(--color-primary-red-600);
}
.pricing-pg .pricing-pg.pricing-banner-container {
  padding: 0 var(--right-padding) 32px var(--left-padding);
}
.pricing-pg .pricing-pg.pricing-banner-container .pricing-get-free-banner {
  background-color: var(--color-bg-surface-1);
  border: 1px solid var(--color-grey-150);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}
.pricing-get-free-banner .pricing-get-free-banner-right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.pricing-get-free-banner .pricing-get-free-title {
  font: var(--text-h5-pricing);
}
.pricing-get-free-banner .pricing-get-free-storage,
.pricing-get-free-banner .pricing-get-free-transfer {
  gap: 8px;
  align-items: center;
  color: var(--color-primary);
  display: flex;
  font: var(--text-copy-large-pricing);
  outline: unset;
}
.pricing-get-free-banner .pricing-get-free-storage {
  padding-top: 32px;
}
i.grey-small-check-tick {
  background-position: 50%;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}
i.black-small-check-tick,
i.grey-small-check-tick {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNS43MDcxIDAuMjkyODkzQzE2LjA5NzYgMC42ODM0MTcgMTYuMDk3NiAxLjMxNjU4IDE1LjcwNzEgMS43MDcxMUw1LjcwNzExIDExLjcwNzFDNS4zMTY1OCAxMi4wOTc2IDQuNjgzNDIgMTIuMDk3NiA0LjI5Mjg5IDExLjcwNzFMMC4yOTI4OTMgNy43MDcxMUMtMC4wOTc2MzExIDcuMzE2NTggLTAuMDk3NjMxMSA2LjY4MzQyIDAuMjkyODkzIDYuMjkyODlDMC42ODM0MTcgNS45MDIzNyAxLjMxNjU4IDUuOTAyMzcgMS43MDcxMSA2LjI5Mjg5TDUgOS41ODU3OUwxNC4yOTI5IDAuMjkyODkzQzE0LjY4MzQgLTAuMDk3NjMxMSAxNS4zMTY2IC0wLjA5NzYzMTEgMTUuNzA3MSAwLjI5Mjg5M1oiIGZpbGw9IiMwNDEwMUUiLz4KPC9zdmc+Cg==");
}
i.black-small-cross-tick {
  background-image: url(../imagery/mega-black-small-cross-tick.81b09f4f5bf79985.svg);
}
i.minus-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00IDEyQzQgMTEuNDQ3NyA0LjQ0NzcyIDExIDUgMTFIMTlDMTkuNTUyMyAxMSAyMCAxMS40NDc3IDIwIDEyQzIwIDEyLjU1MjMgMTkuNTUyMyAxMyAxOSAxM0g1QzQuNDQ3NzIgMTMgNCAxMi41NTIzIDQgMTJaIiBmaWxsPSIjMDQxMDFFIi8+Cjwvc3ZnPgo=");
  background-position: 50%;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}
.pricing-get-free-banner a.pricing-get-free-transfer-txt {
  color: var(--color-secondary-cobalt-600);
  text-decoration: underline;
}
.pricing-get-free-banner .pricing-get-free-banner-price {
  gap: 8px;
  align-items: baseline;
  display: flex;
  margin-bottom: 12px;
}
.pricing-get-free-banner-price .pricing-get-free-banner-price-val {
  font: var(--text-h2-pricing);
}
.pricing-get-free-banner-price .pricing-get-free-banner-note {
  color: var(--color-copy-secondary);
  font: var(--text-caption-regular-pricing);
}
.pricing-pg .pricing-estimation-note-container {
  color: var(--color-copy-secondary);
  font: var(--text-copy-secondary-pricing);
  padding: 0 var(--right-padding) 30px var(--left-padding);
}
.pricing-pg .pricing-estimation-note-container.eu {
  display: none;
}
.pricing-pg .pricing-plans-compare-table-container {
  padding: 0 var(--right-padding) 0 var(--left-padding);
}
.pricing-plans-compare-table-container .pricing-plans-compare-table-show {
  gap: 12px;
  cursor: pointer;
  display: flex;
  font: var(--text-label-xl-pricing);
  justify-content: center;
  margin: auto;
  padding-bottom: 40px;
  padding-top: 48px;
  text-decoration: underline;
  width: fit-content;
}
i.chevron-down-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE0IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC4yOTI4OTMgMC4yOTI4OTNDMC42ODM0MTcgLTAuMDk3NjMxMSAxLjMxNjU4IC0wLjA5NzYzMTEgMS43MDcxMSAwLjI5Mjg5M0w3IDUuNTg1NzlMMTIuMjkyOSAwLjI5Mjg5M0MxMi42ODM0IC0wLjA5NzYzMTEgMTMuMzE2NiAtMC4wOTc2MzExIDEzLjcwNzEgMC4yOTI4OTNDMTQuMDk3NiAwLjY4MzQxNyAxNC4wOTc2IDEuMzE2NTggMTMuNzA3MSAxLjcwNzExTDcuNzA3MTEgNy43MDcxMUM3LjMxNjU4IDguMDk3NjMgNi42ODM0MiA4LjA5NzYzIDYuMjkyODkgNy43MDcxMUwwLjI5Mjg5MyAxLjcwNzExQy0wLjA5NzYzMTEgMS4zMTY1OCAtMC4wOTc2MzExIDAuNjgzNDE3IDAuMjkyODkzIDAuMjkyODkzWiIgZmlsbD0iIzA0MTAxRSIvPgo8L3N2Zz4K");
  background-position: 50%;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}
i.chevron-down-icon.inv {
  transform: scaleY(-1);
}
.pricing-pg .pricing-why-store-with-us-container {
  padding: 0 var(--right-padding) 0 var(--left-padding);
}
.pricing-why-store-with-us-container .pricing-why-store-with-us {
  padding-bottom: 80px;
  padding-top: 80px;
}
.pricing-why-store-with-us .pricing-why-store-with-us-title {
  display: flex;
  font: var(--text-h2-pricing);
  justify-content: center;
  margin-bottom: 48px;
  text-align: center;
}
.pricing-why-store-with-us .pricing-why-store-with-us-blocks-container {
  gap: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pricing-why-store-with-us .pricing-why-store-with-us-block i {
  background-position: 50%;
  background-repeat: no-repeat;
  height: 48px;
  width: 48px;
}
i.cloud-with-lock-icon {
  background-image: url(../imagery/mega-cloud-with-lock-icon.6ea73db6dbe83dfe.svg);
}
i.shield-mega-icon {
  background-image: url(../imagery/mega-shield-mega-icon.1f511a13863eb81e.svg);
}
i.pc-and-mobile-icon {
  background-image: url(../imagery/mega-pc-and-mobile-icon.26b11f77bd58211d.svg);
}
.pricing-compare-cards-container .pricing-compare-cards i {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 64px;
}
i.mega-icon {
  background-image: url(../imagery/mega-mega-icon.fd67a78ad709d66.svg);
}
i.googledrive-icon {
  background-image: url(../imagery/mega-googledrive-icon.8d62b51fa068ca24.svg);
}
i.dropbox-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMyLjAxODcgMTUuMDk4OEwxNi4wMDk0IDI1LjE5NzZMMzIuMDE4NyAzNS4yOTY0TDE2LjAwOTQgNDUuMzk1M0wwIDM1LjIxMjNMMTYuMDA5NCAyNS4xMTM1TDAgMTUuMDk4OEwxNi4wMDk0IDVMMzIuMDE4NyAxNS4wOTg4Wk0xNS45MjQyIDQ4LjU5MzJMMzEuOTMzNSAzOC40OTQ0TDQ3Ljk0MjkgNDguNTkzMkwzMS45MzM1IDU4LjY5MkwxNS45MjQyIDQ4LjU5MzJaTTMyLjAxODcgMzUuMjEyM0w0OC4wMjgxIDI1LjExMzVMMzIuMDE4NyAxNS4wOTg4TDQ3Ljk0MjkgNUw2My45NTIyIDE1LjA5ODhMNDcuOTQyOSAyNS4xOTc2TDYzLjk1MjIgMzUuMjk2NEw0Ny45NDI5IDQ1LjM5NTNMMzIuMDE4NyAzNS4yMTIzWiIgZmlsbD0iIzAwNjFGRiIvPgo8L3N2Zz4K");
}
.pricing-why-store-with-us .pricing-why-store-with-us-block {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pricing-why-store-with-us .pricing-why-store-with-us-block-txt {
  text-align: center;
}
.pricing-why-store-with-us .pricing-why-store-with-us-block-header {
  font: var(--text-h6-pricing);
  margin-top: 24px;
  text-align: center;
}
.pricing-why-store-with-us .pricing-why-store-with-us-block-txt {
  color: var(--color-primary);
  font: var(--text-copy-medium-pricing);
  margin-top: 12px;
}
.pricing-pg .pricing-compare-full-container {
  background-color: var(--color-bg-surface-1);
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: unset;
  position: relative;
  right: 50%;
  width: 100vw;
}
.pricing-pg .pricing-compare-container {
  box-sizing: border-box;
  margin: auto;
  max-width: 1320px;
  padding: 64px var(--right-padding) 80px var(--left-padding);
}
.pricing-compare-container .pricing-compare-title-slider-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.pricing-compare-container .pricing-compare-title {
  font: var(--text-h2-pricing);
  grid-column: 4 / span 6;
  grid-row: 1;
  text-align: center;
}
.pricing-pg.pricing-compare-container .pricing-compare-cards-container {
  gap: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 64px;
}
.pricing-compare-cards-container .pricing-compare-cards {
  background-color: var(--color-bg);
  border: 1px solid var(--color-grey-150);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.pricing-compare-cards .box {
  padding: 32px;
}
.pricing-compare-cards .pricing-compare-cards-feature {
  background-color: var(--color-grey-50);
  display: flex;
  padding: 16px 32px;
}
.pricing-compare-cards .pricing-compare-cards-feature span {
  font: var(--text-copy-medium-bold-pricing);
}
.pricing-compare-cards .pricing-compare-cards-feature i {
  -webkit-margin-end: 8px;
  background-size: auto;
  display: inline-block;
  height: 24px;
  margin-inline-end: 8px;
  vertical-align: top;
  width: 24px;
}
.pricing-compare-cards .pricing-compare-cards-title {
  font: var(--text-h5-pricing);
  margin-top: 24px;
}
.pricing-compare-cards .pricing-compare-cards-rate {
  font: var(--text-h2-pricing);
  margin-top: 32px;
}
.pricing-compare-cards .pricing-compare-cards-rate.na {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNTYiIHZpZXdCb3g9IjAgMCA1NiA1NiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI3Ljk5OTggNTEuMzMzN0M0MC44ODY1IDUxLjMzMzcgNTEuMzMzMiA0MC44ODcgNTEuMzMzMiAyOC4wMDAzQzUxLjMzMzIgMTUuMTEzNyA0MC44ODY1IDQuNjY2OTkgMjcuOTk5OCA0LjY2Njk5QzE1LjExMzIgNC42NjY5OSA0LjY2NjUgMTUuMTEzNyA0LjY2NjUgMjguMDAwM0M0LjY2NjUgNDAuODg3IDE1LjExMzIgNTEuMzMzNyAyNy45OTk4IDUxLjMzMzdaIiBzdHJva2U9IiNENUQ1RDUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik0xMS41MDM0IDExLjUwMjlMNDQuNDk2NyA0NC40OTYzIiBzdHJva2U9IiNENUQ1RDUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
  background-position: 50%;
  background-repeat: no-repeat;
  height: 56px;
  width: 56px;
}
.pricing-compare-cards .pricing-compare-cards-rate.na span,
.pricing-compare-cards .pricing-compare-cards-rate.na sup {
  display: none;
}
.pricing-compare-cards .pricing-compare-cards-rate span.ars,
.pricing-flexi-block-estimator-total .pricing-flexi-block-estimator-total-nb span.ars,
.pricing-plan-card .pricing-plan-price span.ars {
  color: var(--color-primary);
  font: var(--text-top-reference);
  vertical-align: top;
}
.pricing-compare-cards .pricing-compare-cards-rate sup {
  color: var(--color-primary);
  font: var(--text-top-reference2);
  vertical-align: top;
}
.pricing-compare-cards .pricing-compare-cards-period {
  color: var(--color-copy-secondary);
  font: var(--text-caption-regular-pricing);
  margin-top: 8px;
}
.pricing-compare-cards .pricing-compare-cards-note {
  color: var(--color-copy-secondary);
  font: var(--text-caption-regular-pricing);
  padding: 24px 32px 32px;
}
.pricing-pg.pricing-compare-container .pricing-compare-references {
  margin-top: 32px;
}
.pricing-pg.pricing-social-container .pricing-social {
  padding: 64px var(--right-padding) 104px var(--left-padding);
}
.pricing-social .pricing-social-title {
  display: flex;
  font: var(--text-h2-pricing);
  justify-content: center;
  text-align: center;
}
.pricing-social .pricing-social-refs-container {
  gap: 32px;
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
.pricing-social-refs-container i.tech-advisor {
  background-position: center -1133px;
}
.pricing-social-refs-container i.tech-advisor.active {
  background-position: center -1193px;
}
.pricing-social-refs-container i.tech-radar {
  background-position: center -1256px;
}
.pricing-social-refs-container i.tech-radar.active {
  background-position: center -1316px;
}
.pricing-social-refs-container i.cloudwards {
  background-position: center -893px;
}
.pricing-social-refs-container i.cloudwards.active {
  background-position: center -953px;
}
.pricing-social-refs-container i.pro-privacy {
  background-position: center -1014px;
}
.pricing-social-refs-container i.pro-privacy.active {
  background-position: center -1074px;
}
.pricing-social-refs-container i.toms-guide {
  background-position: center -1376px;
}
.pricing-social-refs-container i.toms-guide.active {
  background-position: center -1436px;
}
.pricing-social-refs-container i {
  cursor: pointer;
  height: 40px;
  opacity: 0.3;
  width: 164px;
}
.pricing-social-refs-container i.active {
  opacity: unset;
}
.pricing-social i.quote-icon {
  background-image: url(../imagery/mega-quote-icon.91f421a4dadc5cbd.svg);
  height: 48px;
  width: 48px;
}
.pricing-social i.quote-icon,
i.pricing-i-icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
i.pricing-i-icon {
  background-image: url(../imagery/mega-pricing-info-icon.2b2b5d0832b5b815.svg);
  height: 24px;
  width: 14px;
}
.pricing-social .quote-icon-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.pricing-social .pricing-social-quote-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.pricing-social-quote-container .pricing-social-quote {
  font: var(--text-quotation-pricing);
  grid-column: 3 / -3;
  text-align: center;
}
.quote-icon-container .end-quote-rectangle {
  background-color: var(--color-grey-200);
  height: 4px;
  width: 48px;
}
.pricing-social .pricing-social-quote-name {
  color: var(--color-copy-secondary);
  display: flex;
  font: var(--text-copy-medium-pricing);
  justify-content: center;
  margin-top: 16px;
}
.pricing-pg.faq-container {
  justify-content: center;
  margin-bottom: 104px;
}
.pricing-pg .faq,
.pricing-pg.faq-container {
  align-items: center;
  display: flex;
  width: 100%;
}
.pricing-pg .faq {
  flex-direction: column;
}
.pricing-pg .faq-title {
  font: var(--text-h3-pricing);
  padding: 64px 0 40px;
  text-align: center;
}
.pricing-pg .faq-content {
  margin: 0 20px;
  max-width: 500px;
}
.pricing-pg.faq-container .faq-qa {
  border-bottom: 1px solid var(--surface-grey-2);
}
.pricing-pg.faq-container .faq-item-title {
  gap: 10%;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  padding-bottom: 24px;
}
.pricing-pg.faq-container .faq-question {
  font: var(--text-label-xl-pricing);
}
.pricing-pg.faq-container .faq-item-answer {
  gap: 24px;
  display: flex;
  flex-direction: column;
  font: var(--text-copy-medium-pricing);
  margin-bottom: 24px;
  margin-top: -14px;
}
.pricing-pg.faq-container .faq-item-answer a {
  text-decoration: underline;
}
.pricing-pg.faq-container .faq-item-title i {
  height: 20px;
  margin-left: 10px;
  width: 20px;
}
.pricing-pg .pricing-get-started-container {
  background-color: var(--color-secondary-cobalt-900);
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: unset;
  position: relative;
  right: 50%;
  width: 100vw;
}
.pricing-pg .pricing-get-started {
  box-sizing: border-box;
  margin: auto;
  max-width: 1320px;
  padding: var(--right-padding);
}
.pricing-get-started .pricing-get-started-txt {
  color: var(--color-bg);
  font: var(--text-h3-pricing);
  margin: var(--right-padding) 24px 0 24px;
}
.pricing-get-started .pricing-get-started-subtxt {
  color: var(--color-copy-primary);
  font: var(--text-copy-medium-pricing);
  margin: 20px 24px -24px;
}
.pricing-get-started .pricing-plan-btn-container {
  margin: 56px 24px var(--right-padding) 24px;
}
.pricing-pg.pricing-plans-compare-table-container .pricing-plans-compare-table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.pricing-plans-compare-table .pricing-plans-compare-table-item {
  color: var(--color-primary);
  font: var(--text-copy-medium-pricing);
  grid-column: span 1;
  padding: 20px 16px;
}
.pricing-plans-compare-table .pricing-plans-compare-table-item.pricing-plans-header-item {
  gap: 16px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricing-plans-compare-table .pricing-plans-compare-table-item span {
  font: var(--text-copy-medium-bold-pricing);
}
.pricing-plans-compare-table .pricing-plans-compare-table-item.header {
  color: var(--color-heading);
  font: var(--text-h5-pricing);
  grid-column: 1 / -1;
  padding: 48px 16px 24px;
}
.pricing-plans-compare-table .pricing-plans-compare-table-item.light,
.pricing-plans-compare-table .pricing-plans-compare-table-item.x-bold {
  color: var(--color-heading);
  font: var(--text-h6-pricing);
  padding: 24px 16px;
}
.pricing-plans-compare-table .pricing-plans-compare-table-item.light {
  color: var(--color-disabled);
}
.pricing-plans-compare-table .pricing-plans-compare-table-item.line {
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-grey-150);
  position: sticky;
  top: 118px;
}
.mobile .pricing-plans-compare-table .pricing-plans-compare-table-item.line {
  top: 0;
}
.pricing-plans-compare-table .pricing-plans-compare-table-item.rb {
  border-right: 1px solid var(--color-grey-150);
}
.pricing-plans-compare-table .pricing-plans-compare-table-item.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing-plans-compare-table .pricing-plans-compare-table-item.bold {
  gap: 10px;
  display: flex;
  font: var(--text-copy-medium-bold-pricing);
  justify-content: space-between;
}
.pricing-plans-compare-table .pricing-plans-compare-table-item.bg-gr {
  background-color: var(--color-grey-50);
}
.pricing-pg .pricing-pg.pricing-flexi-container {
  padding: 64px var(--right-padding) 80px var(--left-padding);
}
.pricing-pg.pricing-flexi-container .pricing-flexi-title {
  display: flex;
  font: var(--text-h2-pricing);
  justify-content: center;
  text-align: center;
}
.pricing-pg.pricing-flexi-container .pricing-flexi-block-contianer {
  padding-top: 64px;
}
.pricing-flexi-block-card-contianer .pricing-pg.plans-cards-container {
  grid-column-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: unset;
}
.pricing-flexi-block-card-contianer .pricing-plan-card .pricing-plan-trasfer {
  color: var(--color-copy-secondary);
  font: var(--text-caption-regular-pricing);
  margin-bottom: 76px;
  white-space: unset;
}
.pricing-flexi-block-card-contianer .pricing-plan-card .pricing-plan-storage {
  white-space: unset;
}
.pricing-flexi-block-card-contianer .pricing-plan-card .pricing-plan-trasfer a.learn-more-flexi {
  color: var(--color-secondary-cobalt-600);
  text-decoration: underline;
}
.pricing-flexi-block-card-contianer .pricing-plan-card .pricing-plan-trasfer .ex-desc {
  margin-bottom: 8px;
}
.pricing-flexi-block-card-contianer .plans-cards-container .pricing-flexi-block-card-note,
.pricing-flexi-block-card-contianer .plans-cards-container .pricing-flexi-block-card-note-s {
  color: var(--color-copy-secondary);
  font: var(--text-caption-regular-pricing);
  margin-top: 24px;
}
.pricing-flexi-block-card-contianer .plans-cards-container .pricing-flexi-block-card-note-s {
  display: none;
}
.pricing-flexi-block-card-contianer .plans-cards-container .pricing-flexi-block-estimator-contianer {
  grid-column: span 2;
}
.pricing-flexi-block-estimator-contianer .pricing-flexi-block-estimator-contianer-box {
  border: solid var(--color-grey-150);
  border-width: 1px 1px 0;
}
.pricing-flexi-block-estimator-contianer .pricing-flexi-block-estimator {
  padding: 40px;
}
.pricing-flexi-block-estimator-contianer .pricing-flexi-block-estimator-title {
  color: var(--color-primary);
  font: var(--text-copy-medium-bold-pricing);
}
.pricing-flexi-block-estimator-contianer .pricing-flexi-block-estimator-slider-contianer {
  margin-bottom: 70px;
  margin-top: 24px;
}
.pricing-flexi-block-estimator-slider-contianer .pricing-flexi-block-estimator-slider-headers-container {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) repeat(5, 1fr);
}
.pricing-flexi-block-estimator-slider-headers-container .pricing-flexi-block-estimator-slider-header {
  grid-column: span 1;
}
.pricing-flexi-block-estimator-slider-headers-container .pricing-flexi-block-estimator-slider-header-title,
.pricing-flexi-block-estimator-slider-headers-container .pricing-flexi-block-estimator-slider-mark {
  color: var(--color-copy-secondary);
  font: var(--text-caption-regular-pricing);
}
.pricing-flexi-block-estimator-slider-headers-container .pricing-flexi-block-estimator-slider-marks {
  display: grid;
  grid-column: span 5;
  grid-template-columns: repeat(9, 1fr);
}
.pricing-flexi-block-estimator-slider-marks .pricing-flexi-block-estimator-slider-mark {
  grid-column: span 2;
  text-align: end;
}
.pricing-flexi-block-estimator-slider-marks .pricing-flexi-block-estimator-slider-mark.start {
  grid-column: span 3;
  text-align: unset;
}
.pricing-flexi-block-estimator-slider-marks input.pricing-flexi-slider {
  appearance: none;
  background: linear-gradient(to right, var(--color-secondary-cobalt-900) 50%, var(--color-grey-150) 33.333% 100%);
  grid-column: 1 / -1;
  height: 4px;
  outline: none;
}
.pricing-flexi-block-estimator-slider-marks input.pricing-flexi-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  border: 8px solid #00174c;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  height: 28px;
  width: 28px;
}
.pricing-flexi-block-estimator-slider-marks input.pricing-flexi-slider::-moz-range-thumb {
  -moz-appearance: none;
  background: var(--color-bg);
  border: 8px solid var(--color-secondary-cobalt-900);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  height: 28px;
  width: 28px;
}
.pricing-flexi-block-estimator-slider-headers-container .pricing-flexi-block-estimator-slider-input-container {
  display: flex;
  margin-top: 8px;
}
.pricing-flexi-block-estimator-slider-headers-container .pricing-flexi-block-estimator-slider-input-box {
  background-color: var(--color-bg);
  border: 1px solid var(--color-grey-200);
  border-radius: 8px;
}
.pricing-flexi-block-estimator-slider-headers-container input.pricing-flexi-block-estimator-slider-input {
  -webkit-margin-start: 12px;
  background-color: var(--color-bg);
  border: none;
  color: var(--color-primary);
  font: var(--text-copy-medium-pricing);
  height: 48px;
  margin-inline-start: 12px;
  max-width: 100px;
}
.pricing-flexi-block-estimator-slider-headers-container .pricing-flexi-block-estimator-slider-input-container span {
  -webkit-padding-end: 12px;
  color: var(--color-disabled);
  font: var(--text-copy-medium-pricing);
  padding-inline-end: 12px;
}
.pricing-flexi-block-estimator-contianer .pricing-flexi-block-estimator-total-container {
  background-color: var(--color-bg-surface-1);
  border: 1px solid var(--color-grey-150);
}
.pricing-flexi-block-estimator-contianer .pricing-flexi-block-estimator-total {
  padding: 40px;
}
.pricing-flexi-block-estimator-total .pricing-flexi-block-estimator-total-title {
  color: var(--color-primary);
  font: var(--text-copy-medium-bold-pricing);
}
.pricing-flexi-block-estimator-total .pricing-flexi-block-estimator-total-nb {
  color: var(--color-primary);
  font: var(--text-h3-pricing);
  margin-top: 24px;
}
.pricing-flexi-block-estimator-total .pricing-flexi-block-estimator-total-unit {
  color: var(--color-copy-secondary);
  font: var(--text-caption-regular-pricing);
}
.pricing-pg .pricing-pg.pricing-business-plan-container {
  padding: var(--right-padding);
  padding-bottom: 80px;
}
.pricing-flexi-block-estimator-slider-marks .pricing-flexi-block-estimator-slider-marks-business-users {
  display: flex;
  grid-column: 1 / -1;
  justify-content: space-between;
}
.pricing-flexi-block-estimator-slider-marks-business-users .pricing-flexi-block-estimator-slider-mark.start {
  -webkit-padding-start: 8px;
  padding-inline-start: 8px;
}
.pricing-pg .invisible {
  visibility: hidden;
}
.pricing-pg .pricing-plans-compare-table button {
  align-items: center;
  background-color: var(--color-bg);
  border: 2px solid var(--color-heading);
  border-radius: 8px;
  color: var(--text-color-higher);
  cursor: pointer;
  display: none;
  font: var(--text-button-pricing);
  height: 48px;
  justify-content: center;
  margin: 12px 0 8px;
  padding: 12px 24px;
  width: max-content;
}
.pricing-pg .pricing-plans-compare-table button:hover {
  background-color: var(--color-bg-surface-1);
}
.pricing-pg .pricing-plans-compare-table button.experiment-button.pro {
  background-color: var(--color-primary-red-500);
  border: none;
  color: var(--color-grey-50);
}
.pricing-pg .pricing-plans-compare-table button.experiment-button.pro:hover {
  background-color: var(--color-primary-red-600);
}
@media screen and (min-width: 1079px) and (max-width: 1319px) {
  .pricing-pg .pricing-pg.tabs-module .tabs-module-block {
    width: 285px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1079px) {
  .bottom-page .pricing-pg {
    --left-padding: 24px;
    --right-padding: 24px;
    --top-padding: 56px;
    --bottom-padding: 56px;
    --font-size-h2: 40px/48px;
    --font-size-h3: 32px/40px;
    --font-size-h5: 20px/24px;
    --font-size-h6: 18px/24px;
    --font-top-ref: 11px/24px;
    --font-top-arstrisk: 24px/32px;
    --font-quotation: 24px/34px;
    --font-copy-medium: 14px/20px;
  }
  .pricing-pg .pricing-pg.tabs-module .tabs-module-block {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 360px;
  }
  .pricing-pg .pricing-pg.pick-period-container {
    margin-top: 36px;
  }
  .pricing-pg .pricing-pg.plans-cards-container {
    scrollbar-width: none;
    overflow-x: scroll;
    padding-bottom: 28px;
    padding-top: 36px;
  }
  .pricing-pg .pricing-pg.plans-cards-container::-webkit-scrollbar {
    display: none;
  }
  .pricing-pg .pricing-pg.pricing-banner-container .pricing-get-free-banner {
    padding: 36px;
  }
  .pricing-get-free-banner .pricing-get-free-storage {
    padding-top: 28px;
  }
  .pricing-pg .pricing-pg.pricing-banner-container {
    padding-bottom: 28px;
  }
  .pricing-pg .pricing-estimation-note-container {
    padding-bottom: 72px;
  }
  .pricing-plans-compare-table-container .pricing-plans-compare-table-show {
    padding-bottom: 40px;
    padding-top: 44px;
  }
  .pricing-pg .pricing-compare-container {
    padding-bottom: 72px;
    padding-top: 56px;
  }
  .pricing-compare-container .pricing-compare-title {
    grid-column: 3 / span 8;
  }
  .pricing-pg.pricing-compare-container .pricing-compare-cards-container {
    gap: 24px;
    margin-top: 56px;
  }
  .pricing-compare-cards-container .pricing-compare-cards .box {
    padding: 24px;
  }
  .pricing-compare-cards .pricing-compare-cards-feature {
    padding: 16px 24px;
  }
  .pricing-compare-cards .pricing-compare-cards-rate {
    margin-top: 28px;
  }
  .pricing-compare-cards .pricing-compare-cards-note {
    padding: 24px;
  }
  .pricing-compare-cards-container .pricing-compare-cards span {
    line-height: 1.7;
  }
  .pricing-pg.pricing-compare-container .pricing-compare-references {
    margin-top: 28px;
  }
  .pricing-pg.pricing-social-container .pricing-social {
    padding-bottom: 96px;
    padding-top: 56px;
  }
  .pricing-social .pricing-social-refs-container {
    scrollbar-width: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 56px;
    overflow-x: auto;
    white-space: nowrap;
  }
  .pricing-social .pricing-social-refs-container::-webkit-scrollbar {
    display: none;
  }
  .pricing-social-quote-container .pricing-social-quote {
    grid-column: 1 / -1;
  }
  .pricing-plans-compare-table .pricing-plans-compare-table-item {
    font-size: 14px;
    line-height: 20px;
  }
  .pricing-plans-compare-table .pricing-plans-compare-table-item.header {
    padding-top: 44px;
  }
  .pricing-pg .pricing-pg.pricing-flexi-container {
    padding-bottom: 72px;
    padding-top: 56px;
  }
  .pricing-pg.pricing-flexi-container .pricing-flexi-block-contianer {
    padding-top: 56px;
  }
  .pricing-flexi-block-card-contianer .pricing-pg.plans-cards-container {
    gap: 24px;
  }
  .pricing-flexi-block-card-contianer .pricing-plan-card .pricing-plan-trasfer {
    margin-bottom: 56px;
  }
  .pricing-flexi-block-estimator-contianer .pricing-flexi-block-estimator,
  .pricing-flexi-block-estimator-contianer .pricing-flexi-block-estimator-total {
    padding: 36px;
  }
  .pricing-flexi-block-estimator-slider-contianer .pricing-flexi-block-estimator-slider-headers-container {
    grid-template-columns: 1fr;
    row-gap: 28px;
  }
  .pricing-flexi-block-estimator-slider-headers-container .pricing-flexi-block-estimator-slider-header {
    grid-column: 1 / -1;
  }
  .pricing-flexi-block-estimator-slider-headers-container .pricing-flexi-block-estimator-slider-input-box {
    align-items: center;
    display: flex;
    flex-grow: 1;
  }
  .pricing-flexi-block-estimator-slider-headers-container input.pricing-flexi-block-estimator-slider-input {
    flex-grow: 1;
    max-width: unset;
    width: unset;
  }
  .pricing-flexi-block-estimator-slider-marks input.pricing-flexi-slider {
    margin-top: 24px;
  }
  .pricing-plan-card .pricing-plan-storage {
    white-space: normal;
  }
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .bottom-page .pricing-pg {
    --left-padding: 24px;
    --right-padding: 24px;
    --top-padding: 48px;
    --bottom-padding: 48px;
    --font-size-h2: 28px/36px;
    --font-size-h3: 24px/28px;
    --font-size-h5: 20px/24px;
    --font-size-h6: 18px/24px;
    --font-top-ref: 9px/21px;
    --font-top-arstrisk: 18px/26px;
    --font-quotation: 24px/34px;
    --font-copy-medium: 14px/20px;
  }
  .pricing-pg .pricing-pg.tabs-module .tabs-module-block {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .pricing-pg .pricing-pg.tabs-module .tabs-block-sub-title {
    display: none;
  }
  .pricing-pg .pricing-pg.pick-period-container {
    margin-top: 32px;
  }
  .pricing-pg .pricing-pg.period-note-container,
  .pricing-pg .pricing-pg.pick-period-module {
    justify-content: flex-start;
  }
  .pricing-pg .pricing-pg.pick-period-module .pricing-radio-group {
    flex-direction: column;
  }
  .pricing-pg .pricing-pg.plans-cards-container {
    gap: 24px;
    grid-template-columns: 1fr;
    padding-bottom: 28px;
    padding-top: 32px;
  }
  .pricing-pg .pricing-pg.plans-cards-container .pricing-plan-card {
    padding-bottom: 28px;
  }
  .pricing-pg .pricing-pg.pricing-banner-container .pricing-get-free-banner {
    padding: 32px;
  }
  .pricing-get-free-banner .pricing-get-free-storage {
    padding-top: 28px;
  }
  .pricing-pg .pricing-pg.pricing-banner-container .pricing-get-free-banner {
    gap: 32px;
    flex-direction: column;
  }
  .pricing-get-free-banner .pricing-get-free-banner-right {
    align-items: unset;
  }
  .pricing-pg .pricing-pg.pricing-banner-container {
    padding-bottom: 28px;
  }
  .pricing-pg .pricing-estimation-note-container {
    padding-bottom: 64px;
  }
  .pricing-plans-compare-table-container .pricing-plans-compare-table-show {
    padding-bottom: 40px;
    padding-top: 44px;
  }
  .pricing-why-store-with-us .pricing-why-store-with-us-blocks-container {
    gap: 24px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .pricing-why-store-with-us-container .pricing-why-store-with-us {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .pricing-pg .pricing-compare-container {
    padding-bottom: 64px;
    padding-top: 48px;
  }
  .pricing-compare-container .pricing-compare-title {
    grid-column: 1 / -1;
  }
  .pricing-pg.pricing-compare-container .pricing-compare-cards-container {
    gap: 24px;
    grid-template-columns: 1fr;
    margin-top: 48px;
  }
  .pricing-compare-cards-container .pricing-compare-cards .box {
    padding: 24px;
  }
  .pricing-compare-cards .pricing-compare-cards-feature {
    padding: 16px 24px;
  }
  .pricing-compare-cards .pricing-compare-cards-rate {
    margin-top: 28px;
  }
  .pricing-compare-cards .pricing-compare-cards-note {
    padding: 24px;
  }
  .pricing-compare-cards-container .pricing-compare-cards span {
    line-height: 1.7;
  }
  .pricing-pg.pricing-compare-container .pricing-compare-references {
    margin-top: 28px;
  }
  .pricing-pg.pricing-social-container .pricing-social {
    padding-bottom: 88px;
    padding-top: 48px;
  }
  .pricing-social .pricing-social-refs-container {
    scrollbar-width: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 48px;
    overflow-x: auto;
    white-space: nowrap;
  }
  .pricing-social .pricing-social-refs-container::-webkit-scrollbar {
    display: none;
  }
  .pricing-social-quote-container .pricing-social-quote {
    grid-column: 1 / -1;
  }
  .pricing-plans-compare-table .pricing-plans-compare-table-item {
    font-size: 14px;
    line-height: 20px;
    padding: 16px;
  }
  .pricing-pg .pricing-pg.pricing-flexi-container {
    padding-bottom: 64px;
    padding-top: 48px;
  }
  .pricing-pg.pricing-flexi-container .pricing-flexi-block-contianer {
    padding-top: 48px;
  }
  .pricing-flexi-block-card-contianer .pricing-pg.plans-cards-container {
    gap: 24px;
  }
  .pricing-flexi-block-card-contianer .pricing-plan-card .pricing-plan-trasfer {
    margin-bottom: 48px;
  }
  .pricing-flexi-block-card-contianer .plans-cards-container .pricing-flexi-block-estimator-contianer {
    grid-column: span 1;
  }
  .pricing-flexi-block-estimator-contianer .pricing-flexi-block-estimator,
  .pricing-flexi-block-estimator-contianer .pricing-flexi-block-estimator-total {
    padding: 32px;
  }
  .pricing-flexi-block-estimator-slider-contianer .pricing-flexi-block-estimator-slider-headers-container {
    grid-template-columns: 1fr;
    row-gap: 28px;
  }
  .pricing-flexi-block-estimator-slider-headers-container .pricing-flexi-block-estimator-slider-header {
    grid-column: 1 / -1;
  }
  .pricing-flexi-block-estimator-slider-headers-container .pricing-flexi-block-estimator-slider-input-box {
    align-items: center;
    display: flex;
    flex-grow: 1;
  }
  .pricing-flexi-block-estimator-slider-headers-container input.pricing-flexi-block-estimator-slider-input {
    flex-grow: 1;
    max-width: unset;
    width: unset;
  }
  .pricing-flexi-block-estimator-slider-marks input.pricing-flexi-slider {
    margin-top: 24px;
  }
  .pricing-flexi-block-card-contianer .plans-cards-container .pricing-flexi-block-card-note-s {
    display: block;
  }
  .pricing-flexi-block-card-contianer .plans-cards-container .pricing-flexi-block-card-note {
    display: none;
  }
  .pricing-pg.pricing-plans-compare-table-container .pricing-plans-compare-table {
    scrollbar-width: none;
    overflow-x: scroll;
  }
  .pricing-pg.pricing-plans-compare-table-container .pricing-plans-compare-table::-webkit-scrollbar {
    display: none;
  }
  .pricing-plans-compare-table .pricing-plans-compare-table-item.line {
    top: 0;
  }
}
@media screen and (min-width: 1250px) {
  .pricing-plan-card.long-currency1 .pricing-plan-price {
    font: normal 400 40px/34px var(--font-poppins-sb-pricing);
    line-height: 55px;
  }
  .pricing-plan-card.long-currency2 .pricing-plan-price {
    font: normal 400 33px/34px var(--font-poppins-sb-pricing);
    line-height: 55px;
  }
  .pricing-plan-card.long-currency3 .pricing-plan-price {
    font: normal 400 26px/34px var(--font-poppins-sb-pricing);
  }
  .pricing-pg .pricing-pg.plans-cards-container .pricing-plan-card.long-currency1 > *,
  .pricing-pg .pricing-pg.plans-cards-container .pricing-plan-card.long-currency2 > * {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pricing-pg .pricing-plans-compare-table button {
    display: flex;
  }
}
@media screen and (min-width: 970px) and (max-width: 1250px) {
  .pricing-plan-card.long-currency1 .pricing-plan-price {
    font: normal 400 31px/34px var(--font-poppins-sb-pricing);
    line-height: 45px;
  }
  .pricing-plan-card.long-currency2 .pricing-plan-price {
    font: normal 400 27px/34px var(--font-poppins-sb-pricing);
    line-height: 47px;
  }
  .pricing-plan-card.long-currency3 .pricing-plan-price {
    font: normal 400 23px/34px var(--font-poppins-sb-pricing);
  }
  .pricing-pg .pricing-pg.plans-cards-container .pricing-plan-card.long-currency1 > * {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pricing-pg .pricing-pg.plans-cards-container .pricing-plan-card.long-currency2 > * {
    padding-left: 17px;
    padding-right: 17px;
  }
  .pricing-plan-storage.long-text,
  .pricing-plan-trasfer.long-text {
    font-size: 14px;
  }
}
@media screen and (min-width: 767px) and (max-width: 970px) {
  .pricing-plan-card .pricing-plan-price {
    font: normal 400 35px/34px var(--font-poppins-sb-pricing);
    line-height: 47px;
  }
  .pricing-plan-card.long-currency1 .pricing-plan-price {
    font: normal 400 25px/34px var(--font-poppins-sb-pricing);
    line-height: 45px;
  }
  .pricing-plan-card.long-currency2 .pricing-plan-price {
    font: normal 400 20px/34px var(--font-poppins-sb-pricing);
    line-height: 47px;
  }
  .pricing-plan-card.long-currency3 .pricing-plan-price {
    font: normal 400 15px/34px var(--font-poppins-sb-pricing);
  }
  .pricing-pg .pricing-pg.plans-cards-container .pricing-plan-card > * {
    padding-left: 5px;
    padding-right: 5px;
  }
  .pricing-plan-storage.long-text,
  .pricing-plan-trasfer.long-text {
    font-size: 11px;
  }
}
