.fm-empty-s4-container {
  background: none;
  height: calc(100% - 156px);
}
.fm-empty-s4-container .empty-message {
  color: var(--text-color-high);
  font: var(--text-h1);
  text-align: center;
}
.fm-empty-s4-container .create-new-bkt-block {
  border: 2px solid var(--table-border);
  border-radius: 12px;
  height: 116px;
  margin-bottom: 60px;
  margin-top: 24px;
  width: 648px;
}
.fm-empty-s4-container .create-new-bkt-wrapper {
  align-items: center;
  display: flex;
  margin: 24px;
}
.fm-empty-s4-container .create-new-bkt-wrapper i {
  --icon-size: 64px;
}
.fm-empty-s4-container .create-new-bkt-wrapper .new-bkt-message {
  -webkit-margin-start: 16px;
  -webkit-margin-end: 44px;
  flex-grow: 1;
  margin-inline-end: 44px;
  margin-inline-start: 16px;
  max-width: 428px;
  text-align: start;
}
.fm-empty-s4-container .create-new-bkt-wrapper .new-bkt-title {
  color: var(--text-color-high);
  font: var(--text-h3-bold);
}
.fm-empty-s4-container .create-new-bkt-wrapper .new-bkt-txt {
  color: var(--text-color-medium);
  font: var(--text-body1);
}
.fm-empty-s4-container .create-new-bkt-wrapper .new-bkt-btn {
  margin-top: 0;
}
.fm-empty-s4-container .create-new-bkt-wrapper .new-bkt-btn i {
  --icon-size: 32px;
  --mask-color: var(--icon-rest);
}
.fm-empty-s4-bucket {
  background: none;
  height: calc(100% - 128px);
}
.fm-empty-s4-bucket .fm-empty-pad {
  align-items: center;
  border: 2px dashed var(--stroke-grey-2);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 388px;
  justify-content: center;
  width: 674px;
}
.fm-empty-s4-bucket .fm-empty-pad:hover {
  background: var(--surface-grey-1);
}
.fm-empty-section.fm-empty-s4-groups,
.fm-empty-section.fm-empty-s4-keys,
.fm-empty-section.fm-empty-s4-policies,
.fm-empty-section.fm-empty-s4-users {
  background: var(--surface-main);
}
.fm-empty-s4-groups .fm-empty-s4-groups-txt,
.fm-empty-s4-keys .fm-empty-s4-keys-txt,
.fm-empty-s4-policies .fm-empty-s4-policies-txt,
.fm-empty-s4-users .fm-empty-s4-users-txt {
  margin-top: 8px;
  text-align: center;
  width: 520px;
}
.fm-empty-s4-groups .fm-empty-s4-groups-title,
.fm-empty-s4-keys .fm-empty-s4-keys-title,
.fm-empty-s4-policies .fm-empty-s4-policies-title,
.fm-empty-s4-users .fm-empty-s4-users-title {
  color: var(--text-color-high);
  font: var(--text-h0-bold);
}
.fm-empty-s4-groups .fm-empty-s4-groups-message,
.fm-empty-s4-keys .fm-empty-s4-keys-message,
.fm-empty-s4-policies .fm-empty-s4-policies-message,
.fm-empty-s4-users .fm-empty-s4-users-message {
  color: var(--text-color-medium);
  font: var(--text-body1);
  margin-top: 8px;
}
