.s4-info-section .data-table.medium-list {
  border-collapse: initial;
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
}
.s4-info-section .data-table.medium-list tr {
  height: 32px;
}
.s4-info-section .data-table.medium-list th.actions-btn {
  width: 160px;
}
.s4-info-section .sticky-header-table-container.ps .ps__scrollbar-y-rail {
  margin-top: 34px;
}
.s4-info-section .sticky-header-table-container td.actions-btn {
  text-align: right;
}
.s4-groups-info-content-block {
  box-sizing: border-box;
  height: 100%;
}
.s4-info-section .basic-info-header,
.s4-info-section .info-section-header {
  color: var(--text-color-high);
  font: var(--text-h2-bold);
}
.s4-info-section .basic-info-body {
  align-items: end;
  display: flex;
  justify-content: space-between;
  margin: 16px 0 24px;
}
.basic-info-body .labels-col,
.basic-info-body .labels-col .row {
  color: var(--text-color-high);
  font: var(--text-h3);
}
.basic-info-body .row {
  height: 24px;
  line-height: 24px;
}
.basic-info-body .row + .row {
  margin-top: 12px;
}
.basic-info-body .row i {
  -webkit-margin-start: 8px;
  cursor: pointer;
  margin-inline-start: 8px;
  vertical-align: top;
}
.basic-info-body .values-col {
  -webkit-margin-start: 48px;
  color: var(--text-color-medium);
  flex-grow: 1;
  font: var(--text-body1);
  margin-inline-start: 48px;
}
.s4-info-section .info-section-header {
  -webkit-margin-start: 32px;
  align-items: center;
  color: var(--text-color-medium);
  display: flex;
  font: var(--text-body1);
  height: 36px;
  justify-content: space-between;
  margin-inline-start: 32px;
}
.rtl .s4-info-section .info-section-header {
  direction: rtl;
}
.s4-info-section button.action span {
  -webkit-margin-end: 0;
  color: var(--text-color-high);
  font: var(--text-body1);
  margin-inline-end: 0;
}
.s4-info-section .sticky-header-table-container td,
.s4-info-section .sticky-header-table-container th {
  color: var(--text-color-medium);
  font: var(--text-body2);
  white-space: nowrap;
}
.s4-info-section .sticky-header-table-container span {
  vertical-align: middle;
}
.s4-info-section .sticky-header-table-container a {
  opacity: 0;
}
.s4-info-section .sticky-header-table-container tr.active a,
.s4-info-section .sticky-header-table-container tr:hover a {
  opacity: 1;
}
.s4-info-section .sticky-header-table-container tr td:last-child,
.s4-info-section .sticky-header-table-container tr th:last-child {
  -webkit-padding-end: 32px;
  padding-inline-end: 32px;
}
.s4-info-section .sticky-header-table-container .actions-btn a {
  -webkit-padding-end: 16px;
  color: var(--text-color-medium);
  font: var(--text-body1);
  padding-inline-end: 16px;
  text-decoration: underline;
}
.s4-users-info-content-block {
  box-sizing: border-box;
  height: 100%;
}
.s4-details-section {
  background: var(--surface-grey-1);
  box-sizing: border-box;
  padding: 24px 40px;
  width: 100%;
}
.rtl .s4-details-section {
  direction: rtl;
}
.s4-users-info-content-block .s4-info-section {
  height: calc(100% - 242px);
  padding: 16px 8px 0;
}
.s4-groups-info-content-block .s4-info-section {
  height: calc(100% - 197px);
  padding: 16px 8px 0;
}
.s4-policies-info-content-block .s4-info-section {
  height: calc(100% - 284px);
  padding: 16px 8px 0;
}
.s4-details-section .basic-info-header {
  color: var(--text-color-high);
  font: var(--text-h2-bold);
}
.s4-details-section .basic-info-body {
  align-items: end;
  display: flex;
  justify-content: space-between;
  margin: 16px 0 8px;
}
.basic-info-body .row span {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.s4-info-section .sticky-header-table-container {
  height: calc(100% - 36px);
}
.rtl .s4-info-section .sticky-header-table-container .data-table tr th:last-child:after,
.s4-info-section .sticky-header-table-container .data-table tr th:first-child:after {
  left: auto;
  right: 0;
  width: calc(100% - 22px);
}
.rtl .s4-info-section .sticky-header-table-container .data-table tr th:first-child:after,
.s4-info-section .sticky-header-table-container .data-table tr th:last-child:after {
  left: 0;
  right: auto;
  width: calc(100% - 22px);
}
.s4-info-section .sticky-header-table-container td:not(.key-status) i,
.s4-info-section .sticky-header-table-container td:not(.key-status) span {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}
.s4-info-section .s4-user-keys-management-scroll .s4-grid-table td.status i {
  -webkit-margin-end: 4px;
  display: inline-block;
  margin-inline-end: 4px;
  vertical-align: middle;
}
.s4-info-section .sticky-header-table-container .icon-active {
  --mask-color: var(--secondary-green);
  margin: 0;
  opacity: 1;
}
.s4-info-section .sticky-header-table-container .icon-disabled-filled {
  --mask-color: var(--secondary-red);
  margin: 0;
  opacity: 1;
}
.s4-users-info-content-block .keys-info th.access-key {
  width: 200px;
}
.s4-users-info-content-block .keys-info th.secret-key {
  width: 240px;
}
.s4-users-info-content-block .keys-info th.key-status {
  width: 160px;
}
.s4-users-info-content-block .groups-info th.att-policies {
  width: 600px;
}
.s4-users-info-content-block .groups-info th.group-name,
.s4-users-info-content-block .keys-info th.key-name {
  width: calc(100% - 760px);
}
.s4-policies-info-content-block {
  box-sizing: border-box;
  height: 100%;
}
.s4-info-section .policy-doc-scroller {
  height: calc(100% - 52px);
}
.s4-info-section .policy-doc-container {
  border: 2px solid var(--table-border);
  border-radius: 12px;
  height: 250px;
  margin: 12px 32px 24px;
  max-height: calc(100% - 60px);
  position: relative;
}
.s4-info-section .policy-doc-container textarea {
  opacity: 0;
}
.policy-doc-container .CodeMirror {
  border-radius: 10px;
}
.policy-doc-container .CodeMirror-gutters {
  background-color: var(--surface-grey-2);
  padding-right: 9px;
}
.policy-doc-container .CodeMirror-lines,
.policy-doc-container .CodeMirror-scroll {
  padding: 0;
}
.policy-doc-container .CodeMirror-code {
  margin: 16px 0 34px;
}
.policy-doc-footer {
  bottom: 0;
  height: 32px;
  position: absolute;
  width: 100%;
}
.policy-doc-footer .foot-button {
  display: inline-block;
  width: calc(100% - 42px);
}
.policy-doc-footer .copy-policy-doc {
  --mask-color: var(--icon-rest);
  position: absolute;
  right: 16px;
  top: -8px;
}
.policy-doc-footer .copy-policy-doc:hover {
  background: none;
}
