.gallery-tabs-bl,
.s4-tabs-bl,
.shares-tabs-bl {
  background-color: var(--surface-main);
  border-bottom: 1px solid var(--surface-grey-2);
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0 15px;
  width: 100%;
}
.shares-tabs-bl {
  padding: 14px 4px 0;
}
.gallery-tabs-bl {
  align-items: center;
  border-bottom: 1px solid var(--surface-main);
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  height: 48px;
  min-width: 700px;
  padding-left: 20px;
}
.gallery-tabs-bl .gallery-section-tabs {
  padding-top: 14px;
}
.rtl .gallery-tabs-bl,
.rtl .s4-user-tabs-bl {
  direction: rtl;
}
.fm-right-files-block.emptied .gallery-tabs-bl button:not(.gallery-close-discovery) {
  display: none;
}
.gallery-section-title {
  color: var(--text-color-high);
  flex: 10000 1 0%;
  font: var(--text-body1);
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gallery-section-discovery {
  flex: 10000 1 0%;
  position: relative;
}
.rtl .gallery-section-discovery {
  text-align: left;
}
body:not(.rtl) .gallery-section-discovery {
  text-align: right;
}
.rtl .gallery-section-title {
  left: auto;
  right: 25px;
}
.gallery-section-title i {
  --icon-size: 24px;
  --mask-color: var(--secondary-blue);
  -webkit-margin-end: 8px;
  margin-inline-end: 8px;
}
.gallery-tab-lnk,
.s4-tab-lnk,
.shares-tab-lnk {
  background-color: initial;
  border: 0;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  color: var(--text-color-high);
  cursor: pointer;
  float: left;
  font: var(--text-h3);
  height: 32px;
  margin: 0 24px -1px;
  opacity: 0.7;
  outline: 0;
  padding: 0 0 8px;
  position: relative;
}
.gallery-tab-lnk.filled,
.s4-tab-lnk.filled,
.shares-tab-lnk.filled {
  padding: 4px 5px 0 24px;
}
.gallery-tab-lnk span,
.s4-tab-lnk span,
.shares-tab-lnk span {
  border-radius: 4px;
  color: #fff;
  display: none;
  font: var(--text-body2);
  height: 14px;
  line-height: 14px;
  margin: 4px 0 0 9px;
  padding: 0 4px;
  text-align: center;
  vertical-align: top;
}
.gallery-tab-lnk.filled span,
.s4-tab-lnk.filled span,
.shares-tab-lnk.filled span {
  display: inline-block;
}
.gallery-tab-lnk.active,
.s4-tab-lnk.active,
.shares-tab-lnk.active {
  border-color: var(--secondary-blue);
  color: var(--text-color-high);
  font: var(--text-h3-bold);
  opacity: 1;
}
