.fm-right-account-block .fm-account-vpn .setup-step-heading {
  color: var(--text-color-high);
  font: var(--text-h3);
  margin-bottom: 16px;
}
.fm-right-account-block .fm-account-vpn .step-device {
  color: var(--text-color-high);
  font: var(--text-body1);
  margin-bottom: 8px;
}
.fm-right-account-block .fm-account-vpn .step-desc {
  color: var(--text-color-medium);
  font: var(--text-body2);
}
.fm-right-account-block .fm-account-vpn .desktop-download-links {
  gap: 15px;
  display: flex;
  margin-bottom: 12px;
  margin-top: 6px;
}
.fm-right-account-block .fm-account-vpn .qr-img canvas {
  background-color: var(--secondary-white);
  border-radius: 10px;
  padding: 10px;
}
.fm-right-account-block .fm-account-vpn .download-qrs {
  gap: 32px;
  display: flex;
  margin-top: 18px;
}
.fm-right-account-block .fm-account-vpn .download-qr {
  gap: 4px;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}
.fm-right-account-block .fm-account-vpn .credentials-heading {
  margin-top: 32px;
}
.fm-right-account-block .fm-account-vpn .mobile-config-heading {
  margin-top: 16px;
}
.fm-right-account-block .fm-account-vpn .tnc-agree-checkbox {
  display: flex;
  margin-bottom: 12px;
}
.fm-right-account-block .fm-account-vpn .config-qr {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
}
.fm-right-account-block .fm-account-vpn .vpn-link.clickurl:not(.mega-button) {
  color: var(--text-color-info);
}
.fm-right-account-block .fm-account-vpn .mega-button {
  padding-left: 12px;
  padding-right: 12px;
}
.fm-right-account-block .fm-account-vpn {
  gap: 24px;
  display: flex;
  flex-flow: column nowrap;
  padding: 32px;
}
.fm-right-account-block .fm-account-vpn .top-actions {
  display: flex;
  flex-direction: row-reverse;
  margin: 16px 0;
}
.fm-right-account-block .fm-account-vpn .top-actions .js-create-cred:disabled {
  color: var(--icon-inactive);
  cursor: default;
}
.fm-right-account-block .fm-account-vpn .top-actions .js-create-cred:disabled i:before {
  color: var(--icon-inactive);
}
.fm-right-account-block .fm-account-vpn .creds-container {
  gap: 12px;
  display: flex;
  flex-flow: column nowrap;
}
.fm-right-account-block .fm-account-vpn .vpn-cred {
  background-color: var(--surface-main);
  border: 1px solid var(--stroke-grey-2);
  border-radius: 8px;
}
.fm-right-account-block .fm-account-vpn .vpn-cred > .heading {
  align-items: center;
  background-color: var(--surface-grey-1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 8px;
}
.fm-right-account-block .fm-account-vpn .vpn-cred > .heading .heading-label {
  color: var(--text-color-higher);
  font: var(--text-h3-bold);
  margin: 0;
}
.fm-right-account-block .fm-account-vpn .vpn-cred > .heading i.control {
  --icon-size: 24px;
  --mask-color: var(--icon-inactive);
  cursor: pointer;
  opacity: 0;
  transition: var(--transition-opacity), var(--transition-color);
}
.fm-right-account-block .fm-account-vpn .vpn-cred:hover > .heading i.control {
  opacity: 1;
}
.fm-right-account-block .fm-account-vpn .vpn-cred > .heading i.control:hover {
  --mask-color: var(--icon-active);
}
.fm-right-account-block .fm-account-vpn .vpn-cred .cred-details {
  gap: 4px;
  display: flex;
  flex-flow: column nowrap;
  padding: 8px;
}
.fm-right-account-block .fm-account-vpn .vpn-cred .cred-details .cred-detail {
  display: flex;
  flex-flow: row nowrap;
}
.fm-right-account-block .fm-account-vpn .vpn-cred .cred-details .cred-detail-label {
  color: var(--text-color-high);
  width: 200px;
}
.fm-right-account-block .fm-account-vpn .title-txt {
  font: var(--text-h2-bold);
}
.fm-right-account-block .fm-account-vpn .upgrade-to-pro {
  margin-top: 12px;
}
.fm-right-account-block .fm-account-vpn .contact-support {
  align-items: center;
  display: flex;
}
.fm-right-account-block .fm-account-vpn .contact-support .icon-email-filled {
  --mask-color: var(--icon-rest);
}
.fm-right-account-block .fm-account-vpn .page-heading {
  color: var(--text-color-high);
  font: var(--text-h3-bold);
  margin-bottom: 16px;
}
.fm-right-account-block .fm-account-vpn .step2-actions {
  gap: 16px;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 32px;
}
.fm-right-account-block .fm-account-vpn .step2-actions .location-icon {
  --icon-size: 20px;
  color: var(--icon-active);
  margin-right: -4px;
}
.fm-right-account-block .fm-account-vpn .step2-actions .location-dropdown {
  margin: 0;
  width: 152px;
}
.fm-right-account-block .fm-account-vpn .step2-out {
  gap: 16px;
  display: flex;
  flex-direction: row;
}
.fm-right-account-block .fm-account-vpn .cred-slot {
  align-items: center;
  background-color: var(--surface-grey-2);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--stroke-grey-1);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 8px 12px;
  width: 183px;
}
.fm-right-account-block .fm-account-vpn .cred-slot .label {
  color: var(--text-color-medium);
  cursor: default;
  font: var(--text-h3);
  margin: 0;
}
.fm-right-account-block .fm-account-vpn .cred-slot i.sprite-fm-mono {
  --icon-size: 20px;
  --mask-color: var(--icon-active);
  cursor: pointer;
  display: none;
}
.fm-right-account-block .fm-account-vpn .cred-slot.active i.sprite-fm-mono {
  display: block;
}
.fm-right-account-block .fm-account-vpn .cred-slot.active.recent {
  background-color: var(--surface-black);
}
.fm-right-account-block .fm-account-vpn .cred-slot.active.recent .label {
  color: var(--text-color-white-high);
}
.fm-right-account-block .fm-account-vpn .cred-slot.active.recent i.sprite-fm-mono {
  --mask-color: var(--icon-active-inverted);
}
.theme-dark .fm-right-account-block .fm-account-vpn .cred-slot.active.recent i.sprite-fm-mono {
  --mask-color: var(--icon-active);
}
.fm-right-account-block .fm-account-vpn .post-create-section {
  gap: 16px;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}
.fm-right-account-block .fm-account-vpn .post-create-section .config-actions {
  gap: 16px;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
.fm-right-account-block .fm-account-vpn .post-create-section .view-ini-config {
  all: unset;
  color: var(--label-blue);
  cursor: pointer;
}
.fm-right-account-block .fm-account-vpn .post-create-section .view-ini-config:hover {
  color: var(--label-blue-hover);
}
